:root {
    --theme: linear-gradient(rgb(0, 140, 255), white, skyblue);
    /* --theme: linear-gradient(
        rgb(86, 176, 249),
        blue,
        rgb(0, 64, 255),
        rgb(174, 227, 248)
    ); */
}

*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.modal.fade.show {
    background-color: rgba(0, 0, 0, 0.604);
}

/* N A V B A R  S */
.container-fluid.satu {
    position: relative !important;
    display: flex;
    justify-content: center;
    align-items: center;

    .navbar.fixed-top {
        display: flex;
        justify-content: space-between;
        background-color: white !important;

        align-items: center !important;

        .navbar-brand {
            display: flex;
            align-items: center !important;
            justify-content: center !important;
            gap: 0 !important;
            margin-top: 0.4rem;

            img {
                height: 35px;
                width: 135px;
                margin: 0 !important;
                padding: 0 !important;
                gap: 0 !important;
            }
        }

        .profil {
            display: flex;
            align-items: center !important;
            justify-content: center !important;
            gap: 0 !important;
            background-color: white;

            img {
                height: 40px;
                width: 40px;
                border-radius: 50%;
                border: 1.4px solid gray;
            }
        }
    }
}

/* N A V B A R  E */

/* Profil Bar */
.body {
    transform: scale(0);
    height: 23.7vh;
    position: fixed;
    width: 66.7vw;
    background-color: white;
    z-index: 100;
    border-radius: 1.2rem;
    right: 3.7vw;
    border: 1px solid grey;
    top: 9vh;
    transition: 0.5s ease;

    .profil-content {
        padding: 0.5rem 0.7rem;
        display: flex;
        flex-direction: column;
        gap: 0.3rem;

        .profil-item {
            display: flex;
            gap: 0.65rem;
            /* align-items: center; */
            /* justify-content: center; */
            /* text-align: center; */

            .logo {
                /* background-color: black; */
                width: 24px;
                display: flex;
                align-items: center;
                justify-content: center;

                i {
                    font-size: 24px;
                }
            }

            .value {
                .judul {
                    font-size: 0.6rem;
                    color: rgb(99, 99, 99);
                    margin: -0.2rem !important;
                    padding: 0 !important;
                }

                .nama-v {
                    padding: 0 !important;
                    margin: 0 !important;
                    gap: 0 !important;
                    height: fit-content;
                    color: rgba(0, 0, 0, 0.8);
                    font-size: 0.8rem;
                }
            }
        }
    }
}

.body.active {
    transform: scale(1);
}

/* Profil Bar */

/* S E C T I O N  F I R S T  S */
.section.d-flex {
    margin-top: 4rem;

    .splide__pagination__page {
        width: 6.5px;
        height: 6.5px;
    }

    .splide__pagination__page.is-active {
        transform: scale(1.3);
    }

    .row {
        border-radius: 25px;
        border: 1.5px solid gray;
        background: var(--theme);
        height: fit-content !important;
        width: 100% !important;
        color: white !important;
        margin: 0.5rem;
        overflow: hidden !important;

        .col-11 {
            padding: 0;
            width: 100%;

            .tag-top {
                margin: 0.8rem 1rem !important;

                .heading {
                    font-size: 0.9rem;
                }

                .heading {
                    font-size: 0.65rem;
                }

                .inf {
                    display: flex;
                    justify-content: space-between;
                    font-size: 1.2rem;
                    font-weight: bold;
                }
            }

            .status {
                position: relative;
                z-index: 2;
                display: flex;
                justify-content: space-between;
                background-color: white;
                padding: 0.45rem 0.7rem;
                border-radius: 20px;
                margin-top: -0.45rem !important;
                color: white;
                align-items: center;

                .heading {
                    font-size: 0.8rem;
                    color: rgba(0, 0, 0, 0.7);
                }

                .value {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;
                    padding: 0 !important;

                    .isi {
                        border-radius: 15px;
                        /* background: linear-gradient(
                            to right,
                            rgb(138, 217, 249),
                            rgb(30, 148, 250)
                        ); */
                        background-color: rgba(0, 255, 0, 0.3);
                        border: 1.7px solid rgba(0, 128, 0, 0.812);

                        .lun {
                            font-size: 0.65rem;
                            padding: 0.4rem 0.55rem;
                            color: rgba(0, 128, 0, 0.812) !important;
                            font-weight: bold;
                        }
                    }

                    button.btn {
                        color: rgb(0, 119, 255);
                        background-color: rgba(0, 183, 255, 0.31);
                        height: fit-content;
                        width: fit-content;
                        border-radius: 50%;
                        margin: 0 !important;
                        padding: 5px !important;

                        .bi.bi-chevron-down {
                            font-size: 20px;
                            font-weight: bold;
                            stroke-width: 2;
                        }
                    }
                }
            }

            .gambar {
                height: 70%;
                /* border-bottom-left-radius: 25px;
                border-bottom-right-radius: 25px; */
                width: 100%;
                margin: -1.2rem 0 !important;
                padding: 0 !important;
                overflow: hidden !important;

                .splide .splide__track .splide__list .splide__slide img {
                    height: 14rem;
                    width: 100%;
                    gap: 0 !important;
                    padding: 0 !important;
                    overflow: hidden !important;
                    margin: 0 !important;
                }

                .splide .splide__track .splide__list .splide__slide .empty-page {
                    background-color: rgb(177, 177, 177);
                    height: 14rem;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;

                    .one {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        img {
                            height: 7rem;
                            width: 7rem;
                        }
                    }

                    .two {
                        font-size: .9rem;
                    }
                }
            }
        }
    }
}

/* S E C T I O N  F I R S T  E */

/* modals */
.modal.fade {
    --bs-modal-footer-border-width: 0px !important;
    --bs-modal-padding: 0 !important;

    .modal-dialog {
        height: 100%;

        .modal-content {
            height: 65vh;
            top: 23vh;

            .modal-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0.7rem 1rem !important;

                .modal-title {
                    img {
                        height: 25px;
                        width: 87px;
                    }
                }

                .id {
                    display: flex;
                    font-size: 0.7rem;
                    font-weight: 600;
                    gap: 0.5rem;
                }
            }

            .modal-body {
                border-bottom: none !important;
                padding-top: 1rem !important;
                padding-left: 1rem !important;
                padding-right: 1rem !important;

                .first {
                    .suc {
                        display: flex;
                        flex-direction: column;
                        text-align: center;
                        gap: 0;

                        .mess {
                            font-size: 0.95rem;
                            font-weight: bold;
                            color: green;
                            letter-spacing: 0.3px;
                        }

                        .tgl {
                            font-size: 0.7rem;
                            color: gray;
                        }

                        .pay {
                            font-size: 1.2rem;
                            font-weight: bolder;
                            margin-top: 0.5rem;
                        }
                    }

                    .stat {
                        background-color: white;
                        border-radius: 13px;
                        margin-top: 0.8rem;
                        border: 0.6px solid rgba(128, 128, 128, 0.447);
                        display: flex;
                        justify-content: space-between;
                        padding: 0.5rem 1rem;

                        .stat-item {
                            display: flex;
                            text-align: center;
                            flex-direction: column;

                            .head {
                                font-size: 0.75rem;
                                color: gray;
                            }

                            .value {
                                color: rgba(0, 0, 0, 0.78);
                                font-weight: 600;
                                font-size: 0.85rem;
                            }
                        }
                    }
                }

                .sec {
                    margin-top: 1rem;

                    .info-list {
                        display: flex;
                        flex-direction: column;
                        gap: 0.4rem;

                        .info-item {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            .inf {
                                font-size: 0.8rem;
                                color: gray;
                                margin-top: -0.2rem;
                            }

                            .value {
                                font-size: 0.85rem;
                                color: rgba(0, 0, 0, 0.85);
                                font-weight: 500;
                                margin-top: -0.2rem;
                            }
                        }
                    }

                    .info-l {
                        display: flex;
                        flex-direction: column;
                        gap: 0.4rem;
                        margin-top: 1.5rem;

                        .info-item {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            /* padding: 0 1rem; */
                            .inf {
                                font-size: 0.8rem;
                                color: gray;
                                margin-top: -0.5rem;
                            }

                            .value {
                                font-size: 0.8rem;
                                color: rgba(0, 0, 0, 0.85);
                                font-weight: 500;
                                margin-top: -0.2rem;
                            }
                        }

                        .bukti {
                            display: flex;
                            flex-direction: column;
                            align-items: center;

                            img {
                                width: 307px;
                                height: 307px;
                                margin-top: 0.5rem;
                                border-radius: 6px;
                                border: 1px solid gray;
                            }

                            .inf {
                                color: gray;
                                margin-top: 0.5rem;
                                width: 100%;
                                font-size: 0.9rem;
                            }
                        }
                    }
                }

                .sec::after {
                    content: "";
                    display: block;
                    border-bottom: 0.8px solid rgba(128, 128, 128, 0.199);
                    margin-top: 0.7rem !important;
                    transform: scaleX(1);
                }
            }

            .modal-footer {
                padding: 0.3rem 0.7rem;
                display: flex;
                justify-content: center;

                .btn {
                    background: linear-gradient(rgb(88, 125, 246),
                            rgb(100, 203, 244));
                    color: white;
                    border: none;
                    outline: none;
                    border-radius: 10px;
                }
            }
        }
    }
}

/* modals */

/* N E X T  S */
.next.container-fluid {
    padding: 0.5rem 1rem;

    .row {
        .col-7 {
            color: rgba(0, 0, 0, 0.7);

            .head {
                font-size: 0.65rem;
            }

            .value {
                font-size: 1.1rem;
                font-weight: bold;
                color: grey;
            }
        }

        .col-5 {
            padding-left: 0 !important;
            margin-left: 0 !important;
            font-size: 0.8rem;
            display: flex;
            align-items: center;
            justify-content: center;

            button {
                border: none;
                outline: none;
                color: rgb(109, 108, 108);
                padding: 0.6rem 0.8rem;
                /* background: linear-gradient(
                    to left,
                    rgb(138, 217, 249),
                    rgb(30, 148, 250)
                ); */
                background-color: rgba(128, 128, 128, 0.295);
                border-radius: 18px;
                letter-spacing: 0.5px;
            }
        }
    }
}

/* N E X T  E */

/* D A N G E R  S */
.splide.danger.container-fluid {
    background-color: rgb(231, 231, 238);
    display: flex;
    height: 5.5rem;
    justify-content: center;
    align-items: center;

    .splide__pagination__page {
        top: 0.5rem;
        background-color: rgba(0, 0, 0, 0.258);
        height: 7px;
        width: 7px;
    }

    .splide__pagination__page.is-active {
        background-color: rgba(0, 0, 0, 0.641);
        transform: scale(1.2);
    }

    .splide__track {
        height: auto;
        width: auto;

        .splide__list {
            height: auto;
            width: auto;

            .splide__slide {
                height: auto;
                width: auto;

                .inform {
                    border-radius: 1rem;
                    border: 1.5px solid rgba(33, 108, 249, 0.6);
                    padding: 0.3rem 0.3rem !important;
                    padding-right: 0 !important;
                    display: flex;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 4rem;
                    /* background: linear-gradient(to left, rgba(0, 174, 255, .5),
                            rgba(0, 169, 247, .5)); */
                    background-color: white;

                    .alert {
                        width: auto;
                        margin-top: 1rem;
                        display: flex;
                        justify-content: center;
                        padding: 0.1rem !important;
                        align-items: center;

                        .bi.bi-exclamation-circle {
                            font-size: 2rem !important;
                            color: rgb(0, 131, 238);
                        }
                    }

                    .pemberitahuan {
                        padding-left: 0.2rem;

                        .head {
                            font-weight: bold;
                            font-size: 0.8rem;
                            letter-spacing: 1px;
                            color: rgb(0, 131, 238);

                        }

                        .isi {
                            font-size: 0.55rem;
                            color: rgba(0, 0, 0, 0.7) !important;

                        }
                    }
                }
            }

            /* .splide__slide.dua {
                #inform-2 {
                    .alert
                }
             } */
        }
    }
}

/* D A N G E R  E */

/* K A T E G O R I  S */
.kategori.container-fluid {
    .row .col-12 {
        display: flex;
        padding: 0 1rem;
        justify-content: space-between;

        .kategori-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;

            .log {
                height: fit-content;
                width: fit-content;
                padding: 10px;
                border-radius: 50%;
                text-decoration: none;
                /* background-color: rgb(231, 228, 228); */
                background: linear-gradient(to bottom right,
                        rgb(0, 127, 211),
                        rgb(156, 223, 249));

                i {
                    font-size: 20px;
                    color: rgb(255, 255, 255);
                }
            }

            .keterangan {
                margin-top: 0.3rem;
                font-size: 0.55rem;
                width: 3.7rem;
                line-height: 1.2;
                color: rgba(0, 0, 0, 0.7);
            }
        }

        .kategori-item:nth-child(4) .keterangan {
            display: flex;
            flex-direction: column;
            gap: 0;
            margin: 0 !important;
            padding: 0 !important;

            p {
                margin: 0 !important;
                padding: 0 !important;
            }

            .pe {
                margin-top: 0.3rem !important;
            }
        }

        /* .kategori-item.end {
            .log {
                height: fit-content;
                width: fit-content;
                padding: 2px !important;
                .fi.fi-br-interrogation {
                    font-size: 25px !important;
                }
            }
        } */
    }
}

/* K A T E G O R I  E */

/* B A N N E R  S */
#banner {
    height: fit-content;
    overflow: hidden;
    margin: 1.5rem auto;

    .splide__track {
        padding: 0 .5rem !important;

        .splide__list {

            .splide__slide {
                height: 8.5rem;
                width: 100%;
                border-radius: .5rem !important;
                overflow: hidden;

                img {
                    width: 100%;
                    height: auto;
                }
            }

            .splide__slide .empty-pro {
                background-color: rgb(177, 177, 177);
                height: 8.5rem;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                border-radius: .5rem;

                .one {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        height: 4rem;
                        width: 4rem;
                    }
                }

                .two {
                    font-size: .85rem;
                    margin-top: -.2rem;
                    color: white;
                }
            }
        }
    }
}

/* B A N N E R  E */

/* R E C O M E N D A T I O N  S */
.recomendation.container-fluid {
    height: 14.5rem;
    margin-top: 2.3rem !important;
    margin-bottom: 4rem;
    /* background: black; */
    padding: 0 .5rem !important;

    .splide {
        height: fit-content;

        .splide__track {
            height: fit-content;

            .splide__list {
                height: fit-content;

                .splide__slide {
                    height: fit-content;
                    width: auto !important;

                    .card {
                        border-radius: 20px;
                        overflow: hidden;
                        background-color: white;
                        height: fit-content;

                        img {
                            height: 10rem;
                            width: 100%;
                            border-radius: 20px;
                            gap: 0 !important;
                            padding: 0 !important;
                            margin: 0 !important;
                        }

                        .card-body {
                            font-size: 0.75rem !important;
                            padding: 0.4rem;
                            padding-left: 0.65rem !important;

                            .card-text {
                                /* height: 1rem; */
                                line-height: 1.36;
                                color: rgba(0, 0, 0, 0.503);
                            }

                            .tambahan {
                                display: flex;
                                margin-top: 0rem !important;
                                justify-content: space-between;
                                align-items: center;

                                .harga {
                                    font-size: 0.93rem;
                                    position: relative;
                                    top: 0.5rem;
                                    left: .3srem;
                                    font-weight: bold;
                                    color: rgba(0, 153, 255, 0.603);
                                }

                                .lihat {
                                    border-radius: 15px;
                                    border-top-right-radius: 0 !important;
                                    background: linear-gradient(rgb(0, 136, 255),
                                            rgb(119, 203, 255));

                                    position: relative;
                                    padding: 0.3rem 1.6rem;
                                    padding-right: 2.2rem;
                                    border-bottom-left-radius: 0px !important;
                                    padding-top: 0.3rem !important;
                                    right: -1rem;
                                    top: 0.5rem;

                                    a {
                                        text-decoration: none;
                                        color: white;
                                        font-size: 0.95rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
/* R E C O M E N D A T I O N  E */

/* M E N U  S */

.navbar.fixed-bottom {
    padding: .3rem .4rem;
    /* background: linear-gradient(rgb(0, 145, 255), rgb(0, 213, 255)); */
    background-color: rgb(255, 255, 255);
    border-top: .5px solid rgba(128, 128, 128, 0.4);
}

.navbar.fixed-bottom .container-fluid {
    justify-content: space-between !important;
    display: flex;
    align-items: center;
    /* border: 1px solid whir; */
    padding: .7px 1rem !important;
    padding-top: 7px !important;

}

.nav-link {
    display: flex !important;
    flex-direction: column;
    /* padding: 0rem 3rem; */


    i {
        display: flex;
        align-self: center;
        color: rgba(0, 0, 0, 0.2);

        height: fit-content;
        width: fit-content;
        font-size: 18px;
        padding-bottom: 1px;
    }

    .isi {
        font-size: 0.7rem;
        color: rgba(0, 0, 0, 0.2);

    }
}

.navbar.fixed-bottom .active {
    color: white;

    i {
        background-image: linear-gradient(to bottom right, #0062ff, #9bcaee);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    .isi {
        background-image: linear-gradient(to bottom left, #0062ff, #9bcaee);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;

    }
}

/* M E N U  E*/