*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: rgb(223, 223, 223) !important;
    padding-bottom: 4.8rem;
}

.mycontent::-webkit-scrollbar {
    width: 0 !important;
    /* Sembunyikan scrollbar di browser WebKit */
}

.mycontent::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0) !important;
    /* Warna thumb scrollbar */
    border-radius: 9999px !important;
    /* Bentuk bulat */
}


.splide {
    height: fit-content;

    .splide__track {
        height: fit-content;

        .splide__list {
            .splide__slide {
                width: 100%;
                height: fit-content;
                overflow: hidden;

                img {
                    height: 35vh;
                    width: auto;
                }
            }
        }
    }
}

.container.umum {
    width: 100%;
    height: fit-content;
    background-color: white;

    .wrap {
        padding: 1rem .5rem !important;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .status {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .kamar-info {
                padding: .45rem .7rem !important;
                font-size: .85rem;
                border: 1px solid rgba(0, 0, 0, .7);
                border-radius: .4rem;
                font-weight: 500;
                color: rgba(0, 0, 0, 0.8);
            }

            .sparate {
                color: rgba(0, 0, 0, 0.8);
            }

            .stat {
                padding: .5rem .7rem !important;
                font-size: .85rem;
                /* background-color: rgba(11, 160, 11, 0.5); */
                border-radius: .5rem;
            }

            .stat.lunas {
                background-color: rgba(0, 151, 0, 0.5);
                color: white;
            }

            .stat.tolak {
                background-color: rgba(255, 0, 0, 0.5);
                color: white;
            }
        }

        .tanggal {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .item {
                display: flex;
                flex-direction: column;


                .desk-tgl {
                    font-size: .7rem;
                    color: rgba(0, 0, 0, 0.6);
                }

                .real-tgl {
                    font-size: .95rem;
                    color: rgba(0, 0, 0, 0.8);
                    font-weight: 500;
                }
            }
        }

        .for-detail {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .item {
                display: flex;

                flex-direction: column;

                .above {
                    font-size: .7rem;
                    color: rgba(0, 0, 0, 0.6);
                }

                .bottom {
                    font-size: 1.1rem;
                    color: rgba(0, 0, 0, 0.7);
                    font-weight: 500;
                }
            }

            .bayar {
                display: flex;

                flex-direction: column;

                .above {
                    font-size: .7rem;
                    color: rgba(0, 0, 0, 0.6);
                }

                .bottom {
                    font-size: 1.1rem;
                    /* color: rgba(0, 0, 0, 0.8); */
                    color: #009dff;
                    font-weight: 600;

                    span {
                        font-size: 1rem;
                        color: rgba(0, 0, 0, 0.7);
                    }
                }
            }
        }

    }
}

.container.fasilitas {
    margin-top: 1rem;
    display: flex;
    padding: 1rem;
    padding-top: .5rem !important;
    flex-direction: column;
    width: 100vw;
    height: fit-content;
    background-color: white;
    font-size: 1.2rem;
    font-weight: 500;

    /* .mycontent {
        display: flex;
        align-items: center;
        gap: .5rem;
        overflow-x: auto;
        margin-top: .3rem;

        .item {
            .for-img {
                width: 5.5rem !important;
                overflow: hidden;
                border-radius: .5rem;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    height: 5.5rem;
                    width: auto;
                    border: 1px solid rgb(198, 198, 198);
                }
            }
        }
    } */

    .mycontent {
        display: flex;
        flex-direction: column;
        margin-top: .5rem;

        .jud-kamar {
            font-weight: 500;
            margin-bottom: .15rem;
            font-size: 1rem;
            color: rgba(0, 0, 0, 0.7);
        }

        .jud-umum {
            font-weight: 500;
            margin-top: .4rem;
            margin-bottom: .15rem;
            margin-top: .5rem;
            font-size: 1rem;
            color: rgba(0, 0, 0, 0.7);
        }

        .fasilitas {
            display: flex;
            width: 100%;
            overflow: auto;
            gap: .5rem;
        }

        .kamar {
            .item {
                .for-img {
                    width: 6rem !important;
                    overflow: hidden;
                    border-radius: .5rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        height: 6rem;
                        width: auto;
                        border: 1px solid rgb(198, 198, 198);
                    }
                }
            }
        }

        .umum {
            .item {
                .for-img {
                    width: 12rem !important;
                    overflow: hidden;
                    border-radius: .5rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        height: 8rem;
                        width: auto;
                        border: 1px solid rgb(198, 198, 198);
                    }
                }
            }
        }
    }
}

.container.rules {
    width: 100%;
    padding: .5rem;
    background-color: white;
    margin: 1rem 0;

    button {
        width: 100%;
        border: 1.2px solid rgb(0, 94, 255);
    }

    button:after {
        display: none !important;
    }

    ul {
        margin-top: .5rem !important;
        padding: 0 !important;
        width: 100%;
        border: 1.2px solid rgb(0, 94, 255);
        height: 12.5rem;
        overflow-y: scroll;

        li {
            border-top: 1px solid rgb(0, 94, 255);
            padding: .5rem .8rem;
        }

        .first {
            border: unset;
        }
    }


}

.container.upload {
    margin-top: 1rem;
    display: flex;
    padding: 1rem;
    padding-top: .5rem !important;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    background-color: white;
    font-size: 1.2rem;
    font-weight: 500;

    .mycontent {
        display: flex;
        align-items: center;
        gap: .5rem;
        overflow-x: auto;
        margin-top: .3rem;

        .item {
            label {
                height: 7.5rem;
                width: 7.5rem;
                background-color: rgb(198, 198, 198);
                border-radius: .8rem;
                display: flex;
                align-items: center;
                justify-content: center;

                .bi {
                    font-size: 3rem;
                    color: rgb(235, 235, 235);
                }
            }
        }
    }
}

.modal {
    .modal-dialog {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;

        .modal-content {

            .modal-body {
                display: flex;
                flex-direction: column;
                gap: .5rem !important;
                justify-content: center;
                padding: .5rem;
                align-items: center;

                img {
                    width: 100%;
                    height: auto;
                    max-height: 12rem;
                    overflow: hidden;
                    border-radius: .5rem;
                }

                .desk {
                    display: flex;
                    flex-direction: column;
                    gap: .3rem;

                    .top {
                        text-align: center;
                        font-size: 1.1rem;
                        font-weight: 500;
                        color: rgba(0, 0, 0, 0.75);
                    }

                    .bottom {
                        font-size: .8rem;
                        color: rgba(0, 0, 0, 0.7);
                        font-weight: 400;
                    }
                }
            }

        }
    }
}

.no-recomendation {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 10rem;
    margin-top: 0 !important;
    margin-bottom: 2rem !important;
    gap: .3rem;
    padding-bottom: 2rem;

    .i-img {

        img {
            height: 6rem;
            width: auto;
        }
    }

    .text {
        color: rgba(0, 0, 0, 0.5);
        width: 80%;
        font-size: .9rem;
        text-align: center;
    }
}


/* M E N U  S */

.navbar.fixed-bottom {
    padding: .3rem .4rem;
    /* background: linear-gradient(rgb(0, 145, 255), rgb(0, 213, 255)); */
    background-color: rgb(255, 255, 255);
    border-top: .5px solid rgba(128, 128, 128, 0.4);
}

.navbar.fixed-bottom .container-fluid {
    justify-content: space-between !important;
    display: flex;
    align-items: center;
    /* border: 1px solid whir; */
    padding: .7px 1rem !important;
    padding-top: 7px !important;
}

.nav-link {
    display: flex !important;
    flex-direction: column;
    /* padding: 0rem 3rem; */


    i {
        display: flex;
        align-self: center;
        color: rgba(0, 0, 0, 0.2);

        height: fit-content;
        width: fit-content;
        font-size: 18px;
        padding-bottom: 1px;
    }

    .isi {
        font-size: 0.7rem;
        color: rgba(0, 0, 0, 0.2);

    }
}

.navbar.fixed-bottom .active {
    color: white;

    i {
        background-image: linear-gradient(to bottom right, #0062ff, #9bcaee);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    .isi {
        background-image: linear-gradient(to bottom left, #0062ff, #9bcaee);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;

    }
}

/* M E N U  E*/