*,
body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


body {
    background-color: rgb(227, 226, 226) !important;
}

.navbar {
    height: 3rem;
    border-bottom: .5px solid rgba(128, 128, 128, 0.4);
    background-color: rgb(255, 255, 255);
    --bs-navbar-padding-y: unset !important;

    .container-fluid {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .exit {
            display: flex;
            justify-content: start !important;
            padding-left: 1.5rem !important;
            padding: 0;

            .back {
                position: absolute;
                left: .7rem;
                text-decoration: none;
                color: black;

                .left {
                    font-size: 1.4rem;
                    font-weight: bold !important;
                }
            }
        }

        .ku {
            transform: scale(0);
            border-radius: 8px;
            background: linear-gradient(to bottom left, rgb(8, 101, 200), rgb(68, 174, 216));
            height: fit-content !important;
            width: fit-content !important;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 0px solid !important;
            color: white !important;

            .btn {
                height: 1.75rem !important;
                width: 1.75rem !important;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white !important;
                font-size: 1rem;
            }
        }
    }

}

.once {
    background-color: white;
    margin-top: 4rem;
    padding: 0 !important;

    .heading {
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);

        .item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: .35rem .7rem;

            .logo {
                img {
                    height: 1.8rem;
                    width: auto;
                }
            }

            .id {
                font-size: .85rem;
                font-weight: bold;
            }
        }
    }

    .bodies {
        display: flex;
        flex-direction: column;
        padding: .5rem 0;

        .pay-one {
            padding: 0 .5rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: .45rem;

            .status {
                display: flex;
                flex-direction: column;
                align-items: center;

                .status-pay.success {
                    color: green;
                    font-size: 1.1rem;
                    font-weight: 600;
                }

                .status-pay.fail {
                    color: rgb(237, 0, 0);
                    font-size: 1.1rem;
                    font-weight: 600;
                }

                .status-tgl {
                    line-height: 1;
                    color: rgba(0, 0, 0, 0.6);
                    font-size: .75rem;
                }
            }

            .harga {
                font-size: 1.3rem;
                font-weight: bold;
                color: rgba(0, 0, 0, 0.8);
            }
        }

        .pay-sec {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: .3rem .7rem;

            .info-content {
                width: 100%;
                border: 1px solid gray;
                padding: .35rem .7rem;
                border-radius: .5rem;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .items {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .top {
                        color: rgba(0, 0, 0, 0.45);
                        font-size: .75rem;
                    }

                    .bottom {
                        color: rgba(0, 0, 0, 0.8);
                        font-size: 1rem;
                        font-weight: 500;
                        line-height: 1.2;
                    }
                }
            }
        }

        .pay-third {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 .8rem;
            flex-direction: column;
            gap: .25rem;

            .info-umum {
                width: 100%;
                display: flex;
                flex-direction: column;

                .item {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .left {
                        font-size: .85rem;
                        color: rgba(0, 0, 0, 0.55);
                    }

                    .right {
                        font-weight: medium !important;
                        font-size: .95rem;
                    }
                }
            }

            .info-pay {
                width: 100%;
                display: flex;
                flex-direction: column;

                .item {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .left {
                        font-size: .85rem;
                        color: rgba(0, 0, 0, 0.55);
                    }

                    .right {
                        font-weight: medium !important;
                        font-size: .95rem;
                    }
                }
            }
        }

        .pay-fourth {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: .3rem .8rem;

            .bukti {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: .35rem;

                .top {
                    font-size: .9rem;
                    color: rgba(0, 0, 0, 0.55);
                }

                .bot {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        height: auto;
                        width: 12rem;
                        max-height: 15rem;
                        border-radius: .5rem;
                    }
                }

            }
        }

        .pay-last {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: .3rem .8rem;

            .content {
                border: 1.5px solid rgba(255, 0, 0, 0.692);
                border-radius: .5rem;
                padding: .4rem .6rem;
                display: flex;
                flex-direction: column;

                .head-tolak {
                    font-size: .85rem;
                    font-style: italic;
                    font-weight: 500;
                    color: rgba(0, 0, 0, 0.85);
                }

                .isi-tolak {
                    font-size: .7rem;
                    line-height: 1.25;
                    color: rgba(0, 0, 0, 0.6);
                }
            }
        }
    }
}

@media print {

    *,
    body,
    html {
        margin: 0;
        padding: 0;
    }

    .navbar.fixed-top {
        display: none !important;
    }

    .once {
        margin-top: 0 !important;
    }
}