*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-boxs;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: rgb(227, 227, 227) !important;
    padding-bottom: 4rem;
}

input:focus {
    box-shadow: unset !important;
}

/* Section */

.profil::before {
    content: "";
    position: absolute;
    top: 0;
    z-index: -2;
    left: 0;
    background-image: url('/img-chategories/room-3.jpg');
    background-size: cover;
    height: 35vh;
    width: 100%;
}

.profil {
    background: rgba(0, 0, 0, 0.4);
    height: 35vh;

    .profil-prof {
        height: 30vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: .6rem;

        .myImage {
            height: 5.5rem !important;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                border: 2px solid rgba(153, 153, 153, 0.4);
                width: 5.5rem !important;
                height: auto;
                border-radius: 50%;
            }
        }

        .name {
            color: white;
            font-weight: 500;
            font-size: 1.05rem;
        }

        .kamar {
            /* margin-top: .5rem; */
            color: white;
            font-size: .95rem;
            padding: .3rem .6rem;
            border: 1.5px solid rgba(225, 225, 225, 0.756);
            border-radius: .5rem !important;
            margin-bottom: 1rem !important;


            /* border-width: 1.5px;
            border-style: solid;
            border-image: linear-gradient(to bottom right, rgba(0, 119, 255, 0.659), rgba(0, 179, 255, 0.718)) 1;*/

        }
    }
}

.detail-prof {
    margin-top: -2.7rem;
    display: flex;
    justify-content: center;
    /* align-items: center; */

    .beta {
        width: 90%;
        gap: .8rem;
        display: flex;
        flex-direction: column;

        .first-choice {
            /* background-color: rgb(172, 172, 172); */
            display: flex;
            background-color: white;
            border: 1.5px solid rgb(210, 210, 210);
            border-radius: 1rem;
            flex-direction: column;
            padding: .2rem .8rem;

            /* gap: .7rem; */

            .item-choice {
                display: flex;
                justify-content: space-between;
                border-top: 1px solid rgba(213, 213, 213, 0.77);
                align-items: center;
                padding: .6rem .5rem;

                .details {
                    display: flex;
                    border-top: unset;
                    align-items: center;
                    gap: .6rem;

                    i {
                        font-size: 1.3rem;
                        color: rgb(0, 149, 255);
                    }

                    .info {
                        font-size: 1.0rem;
                        font-weight: 400;
                    }
                }

                .chev {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: .65rem;
                    color: rgba(185, 185, 185, 0.817);

                    .fa-solid {
                        padding-left: .3rem;
                        color: rgba(128, 128, 128, 0.7);
                        font-size: 1rem;
                    }
                }
            }

            .first {
                border-top: unset;
            }
        }

        .last-choice {
            /* background-color: rgb(172, 172, 172); */
            display: flex;
            background-color: white;
            border: 1.5px solid rgb(210, 210, 210);
            border-radius: 1rem;
            flex-direction: column;
            padding: .2rem .8rem;

            /* gap: .7rem; */

            .item-choice {
                display: flex;
                border-top: 1px solid rgba(213, 213, 213, 0.77);
                align-items: center;
                padding: .6rem .5rem;

                .details {
                    display: flex;
                    border-top: unset;
                    align-items: center;
                    gap: .75rem;
                    width: 100%;

                    .icon {

                        i {
                            font-size: 1.3rem;
                            color: rgb(0, 149, 255);
                        }
                    }

                    .ti.ti-logout {
                        color: rgb(255, 0, 0);
                    }

                    .info {
                        font-weight: 400;
                        display: flex;
                        align-items: center;
                        width: 100%;
                        justify-content: space-between;
                        /* background-color: #9bcaee; */

                        .heads {
                            font-size: .75rem;
                            color: rgba(0, 0, 0, 0.65);
                        }

                        .values {
                            font-size: .95rem;
                            color: rgba(0, 0, 0, 0.8);
                        }

                    }

                    .info.logout {
                        color: red;
                    }
                }

                .chev {
                    .fa-solid {
                        color: gray;
                    }

                    .log {
                        color: red;
                    }
                }
            }

            .first {
                border-top: unset;
            }

            .item-edit {
                display: flex;
                justify-content: space-between;
                border-top: 1px solid rgba(213, 213, 213, 0.77);
                align-items: center;
                padding: .6rem .5rem;

                .deskripsi-singkat {
                    display: flex;
                    align-items: center;
                    gap: .75rem;

                    .icons {

                        i {
                            font-size: 1.3rem;
                            color: rgb(0, 149, 255);
                        }
                    }

                    .value-change {
                        color: rgba(0, 0, 0, 0.8);
                        font-size: .95rem;
                    }
                }

                .icon-change {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: .65rem;
                    color: rgba(149, 149, 149, 0.876);

                    i {
                        padding-left: .3rem;
                        color: rgba(128, 128, 128, 0.7);
                        font-size: 1rem;
                    }

                }
            }


        }
    }
}

/* Section */


/* Modal Profil */

.modal.fade {
    .modal-dialog {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;

        .modal-content {
            color: rgba(0, 0, 0, 0.7) !important;

            form {
                .modal-body {
                    .for-edit-profil {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: .6rem;

                        .pp {
                            position: relative;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            height: 6rem;

                            img {
                                /* border: 3px rgb(199, 199, 199) solid; */
                                height: auto;
                                width: 6rem;
                                border-radius: 50%;
                            }

                            .my-btn {
                                position: absolute;
                                top: 0;
                                left: 0;
                                height: 6rem;
                                width: 6rem;
                                border-radius: 50%;
                                border: none !important;
                                background-color: rgba(0, 0, 0, 0.3);

                                input {
                                    display: none;
                                    /* transform: scale(0); */
                                }

                                i {
                                    color: white;
                                    font-size: 2.3rem;
                                }
                            }

                        }

                        .users {
                            color: rgba(0, 0, 0, 0.7) !important;

                            label {
                                padding-left: .15rem;
                                font-size: .9rem;
                            }

                            input {
                                color: rgba(0, 0, 0, 0.7) !important;
                            }
                        }
                    }

                }

                .modal-footer {
                    padding: 0.3rem 0.7rem !important;
                    display: flex;
                    gap: .32rem;

                    .cancel {
                        color: white;
                        border: 1.2px solid rgb(181, 181, 181);
                        color: rgb(146, 146, 146);
                    }

                    .save {
                        background: linear-gradient(to bottom right, rgb(4, 139, 249), rgb(74, 188, 233));
                        color: white;
                    }

                    .save:disabled {
                        background: rgb(146, 146, 146);
                    }
                }
            }
        }
    }
}

.dropdown {
    width: 100%;
    display: flex;
    justify-content: space-between;
    width: 100%;

    input {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        border-right: none;
        background-color: var(--bgCerah);
    }

    button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        background: linear-gradient(to top right, rgb(0, 85, 255), rgb(99, 192, 229));
        color: white;
        border: none;
    }

    button:after {
        display: none;
    }

    .dropdown-menu {
        min-width: 100%;
    }

    .dropdown-menu.show {
        height: fit-content;

        display: flex;
        flex-direction: column;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        overflow: hidden;
        overflow-y: auto;
        transform: translate(0, 40px) !important;
    }

    .dropdown-menu li {
        padding: .5rem 1rem !important;
        transition: .3s ease;
        cursor: pointer;

        .item {
            display: flex;
            gap: 1rem;
            align-items: center;

            .icons {
                img {
                    height: 25px;
                    width: 25px;
                }
            }
        }

    }

    .dropdown-menu li.first {
        padding-top: .6rem !important;
    }

    .dropdown-menu li.last {
        padding-bottom: .6rem !important;
    }

    .dropdown-menu li:hover {
        background: linear-gradient(to top right, rgb(0, 85, 255), rgb(99, 192, 229));
        color: white;
    }
}

/* Modal Profil */

.navbar.fixed-bottom {
    padding: .3rem .4rem;
    /* background: linear-gradient(rgb(0, 145, 255), rgb(0, 213, 255)); */
    background-color: rgb(255, 255, 255);
    border-top: .5px solid rgba(128, 128, 128, 0.4);
}


.navbar.fixed-bottom .container-fluid {
    justify-content: space-between !important;
    display: flex;
    align-items: center;
    /* border: 1px solid whir; */
    padding: .7px 1rem !important;
    padding-top: 7px !important;

}

.nav-link {
    display: flex !important;
    flex-direction: column;
    /* padding: 0rem 3rem; */


    i {
        display: flex;
        align-self: center;
        color: rgba(0, 0, 0, 0.2);

        height: fit-content;
        width: fit-content;
        font-size: 18px;
        padding-bottom: 1px;
    }

    .isi {
        font-size: 0.7rem;
        color: rgba(0, 0, 0, 0.2);

    }
}

.navbar.fixed-bottom .active {
    color: white;

    i {
        background-image: linear-gradient(to bottom right, #0062ff, #9bcaee);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    .isi {
        background-image: linear-gradient(to bottom left, #0062ff, #9bcaee);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;

    }
}

.swal2-title {
    font-weight: 500;
    font-size: 1.5rem !important;
}

.swal2-confirm {
    border: 1.5px solid red !important;
    color: red !important;
    box-shadow: none !important;
    background-color: unset !important;
    padding: .5rem 1rem !important;

}

.swal2-cancel {
    padding: .6rem 1.3rem !important;
}

.swal2-html-container {
    font-size: .9rem !important;
}