*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: rgb(221, 221, 221) !important;
    padding-bottom: 4.5rem;
}

.modal.fade.show {
    background-color: rgba(0, 0, 0, 0.4);
}

.navbar-slide::-webkit-scrollbar {
    width: 0 !important;
}

.filter::-webkit-scrollbar {
    width: 0;
}

.splide__slide::-webkit-scrollbar {
    width: 0;
}


.sticky-top {
    padding: .5rem .8rem;
    background-color: white;
    font-weight: 500;
}

.nav {
    padding: .65rem .8rem !important;

    .navbar-slide {
        display: flex;
        align-items: center;
        gap: .6rem;
        width: 100%;
        overflow-x: auto;

        .navs-items {
            padding: .4rem 1.2rem;
            white-space: nowrap;
            text-decoration: none;
            color: rgba(0, 0, 0, 0.75);
            background: white;
            border-radius: .5rem;
            font-size: .85rem;
        }

        .active {
            background: linear-gradient(to bottom right, rgb(0, 153, 255), rgb(89, 196, 238)) !important;
            color: white !important;
        }
    }
}

.empty-riwayat {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: white; */

    .container.empties {
        padding: 6rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: .3rem;

        .logo {
            img {
                height: 13.5rem;
            }
        }

        .text {
            text-align: center;
            font-size: .95rem;
            color: rgba(0, 0, 0, 0.6);
            line-height: 1.2;
        }
    }
}


/* F O R  C O N T A I N E R */

.all-riwayat {
    display: flex;
    flex-direction: column;
    gap: .6rem;
    justify-content: center;
}

/* F O R  C O N T A I N E R */

/* FOR ALL RIWAYAT */

.riwayat-item.payment {
    padding: .2rem;
    border-radius: .5rem;
    background: white;

    .items {
        background: rgb(241, 240, 240);
        display: flex;
        flex-direction: column;
        gap: .25rem;
        padding: .7rem .6rem;
        padding-bottom: .3rem !important;
        border-radius: .4rem;

        .heading {
            padding: 0 .5rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1.5rem;

            .logo {
                img {
                    height: 2rem;
                }
            }

            .status.accept {
                padding: .2rem 1rem;
                background-color: rgba(7, 242, 7, 0.2);
                color: rgb(0, 161, 0);
                font-weight: 500;
                border-radius: 1rem;
                font-size: .85rem;
            }

            .status.dismiss {
                padding: .2rem 1.3rem;
                background-color: rgba(242, 7, 7, 0.2);
                color: rgb(230, 0, 0);
                font-weight: 500;
                border-radius: 1rem;
                font-size: .9rem;
            }
        }

        .info {
            display: flex;
            flex-direction: column;
            gap: .3rem;

            .info-head {
                font-weight: 500;
                font-size: .95rem;
            }

            .info-data {
                font-size: .75rem;
                color: rgba(39, 39, 39, 0.667);
            }
        }

        .date {
            display: flex;
            gap: .5rem;
            align-items: center;
            justify-content: space-between;

            .id-pembayaran {
                font-style: italic;
                font-weight: 500;
                font-size: .8rem;
            }

            .center {
                i {
                    color: rgba(116, 115, 115, 0.8);
                }
            }

            .tanggal-pembayaran {
                color: rgba(96, 96, 96, 0.8);
                font-size: .65rem;
            }
        }
    }

}

.riwayat-item.pindah {
    padding: .2rem;
    border-radius: .5rem;
    background: white;

    .items {
        background: rgb(241, 240, 240);
        display: flex;
        flex-direction: column;
        gap: .25rem;
        padding: .7rem .6rem;
        padding-bottom: .45rem !important;
        border-radius: .4rem;

        .heading {
            padding: 0 .5rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1.5rem;

            .logo {
                img {
                    height: 2rem;
                }
            }

            .status.accept {
                padding: .2rem 1rem;
                background-color: rgba(7, 242, 7, 0.2);
                color: rgb(0, 161, 0);
                font-weight: 500;
                border-radius: 1rem;
                font-size: .85rem;
            }

            .status.dismiss {
                padding: .2rem 1.3rem;
                background-color: rgba(242, 7, 7, 0.2);
                color: rgb(230, 0, 0);
                font-weight: 500;
                border-radius: 1rem;
                font-size: .9rem;
            }
        }

        .info {
            display: flex;
            flex-direction: column;
            gap: .3rem;

            .info-head {
                font-weight: 500;
                font-size: .95rem;
            }

            .info-data {
                font-size: .75rem;
                color: rgba(39, 39, 39, 0.667);
            }
        }

        .date {
            display: flex;
            gap: .5rem;
            align-items: center;
            justify-content: space-between;

            .no-kamar {
                padding: .25rem .75rem;
                background: rgba(0, 0, 0, 0.2);
                border-radius: 1rem;
                font-weight: 500;
                font-size: .7rem;
            }

            .tanggal {
                color: rgba(96, 96, 96, 0.8);
                font-size: .65rem;
            }
        }
    }

}

.riwayat-item.kerusakan {
    padding: .2rem;
    border-radius: .5rem;
    background: white;

    .items {
        background: rgb(241, 240, 240);
        display: flex;
        flex-direction: column;
        gap: .25rem;
        padding: .7rem .6rem;
        padding-bottom: .3rem !important;
        border-radius: .4rem;

        .heading {
            padding: 0 .5rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1.5rem;

            .logo {
                img {
                    height: 2rem;
                }
            }

            .status {
                padding: .2rem 1rem;
                background-color: rgba(7, 230, 242, 0.2);
                color: rgb(13, 130, 208);
                font-weight: 500;
                border-radius: 1rem;
                font-size: .85rem;
            }
        }

        .info {
            display: flex;
            flex-direction: column;
            gap: .3rem;

            .info-head {
                font-weight: 500;
                font-size: .95rem;
            }

            .info-data {
                font-size: .75rem;
                color: rgba(39, 39, 39, 0.667);
            }
        }

        .date {
            display: flex;
            gap: .5rem;
            align-items: center;
            justify-content: space-between;

            .no-kamar {
                /* font-style: italic; */
                padding: .25rem .75rem;
                background: rgba(0, 0, 0, 0.2);
                border-radius: 1rem;
                font-weight: 500;
                font-size: .7rem;
            }

            .tanggal {
                color: rgba(96, 96, 96, 0.8);
                font-size: .65rem;
            }
        }
    }

}

.riwayat-item.kehilangan {
    padding: .2rem;
    border-radius: .5rem;
    background: white;

    .items {
        background: rgb(241, 240, 240);
        display: flex;
        flex-direction: column;
        gap: .3rem;
        padding: .7rem .6rem;
        padding-bottom: .45rem !important;
        border-radius: .4rem;

        .heading {
            padding: 0 .5rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1.5rem;

            .logo {
                img {
                    height: 2rem;
                }
            }

            .status {
                padding: .2rem 1rem;
                background-color: rgba(7, 230, 242, 0.2);
                color: rgb(13, 130, 208);
                font-weight: 500;
                border-radius: 1rem;
                font-size: .85rem;
            }
        }

        .info {
            padding: 0 !important;
            display: flex;
            flex-direction: column;
            gap: .3rem;

            .info-head {
                font-weight: 500;
                font-size: .95rem;
            }

            .info-data {
                font-size: .75rem;
                color: rgba(39, 39, 39, 0.667);
            }
        }

        .date {
            display: flex;
            gap: .5rem;
            align-items: center;
            justify-content: space-between;

            .no-kamar {
                /* font-style: italic; */
                padding: .25rem .75rem;
                background: rgba(0, 0, 0, 0.2);
                border-radius: 1rem;
                font-weight: 500;
                font-size: .7rem;
            }

            .tanggal {
                color: rgba(96, 96, 96, 0.8);
                font-size: .65rem;
            }
        }
    }

}

/* FOR ALL RIWAYAT */


/* KUMPULAN MODAL  */

/* histori pembayaran */
.riwayat-pembayaran {

    .modal-dialog {

        .modal-content {

            .modal-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0.7rem 1rem !important;

                .modal-title {
                    img {
                        height: 25px;
                        width: 87px;
                    }
                }

                .id {
                    display: flex;
                    font-size: 0.7rem;
                    font-weight: 600;
                    gap: 0.5rem;
                }
            }

            .modal-body {
                height: 22rem;
                border-bottom: none !important;
                padding-top: .3rem !important;
                padding-left: 1rem !important;
                padding-right: 1rem !important;

                .first {
                    .suc {
                        display: flex;
                        flex-direction: column;
                        text-align: center;
                        gap: 0;

                        .mess {
                            font-size: 0.95rem;
                            font-weight: bold;
                            color: green;
                            letter-spacing: 0.3px;
                        }

                        .merr {
                            font-size: 0.95rem;
                            font-weight: bold;
                            color: rgb(255, 0, 0);
                            letter-spacing: 0.3px;
                        }

                        .tgl {
                            font-size: 0.7rem;
                            color: gray;
                        }

                        .pay {
                            font-size: 1.2rem;
                            font-weight: bolder;
                            margin-top: 0.5rem;
                        }
                    }

                    .stat {
                        background-color: white;
                        border-radius: 13px;
                        margin-top: 0.8rem;
                        border: 0.6px solid rgba(128, 128, 128, 0.447);
                        display: flex;
                        justify-content: space-between;
                        padding: 0.5rem 1rem;

                        .stat-item {
                            display: flex;
                            text-align: center;
                            flex-direction: column;

                            .head {
                                font-size: 0.75rem;
                                color: gray;
                            }

                            .value {
                                color: rgba(0, 0, 0, 0.78);
                                font-weight: 600;
                                font-size: 0.85rem;
                            }
                        }
                    }
                }

                .sec {
                    margin-top: .5rem;

                    .info-list {
                        display: flex;
                        flex-direction: column;
                        gap: 0.25rem;


                        .info-item {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            .inf {
                                font-size: 0.8rem;
                                color: gray;
                                margin-top: -0.2rem;
                            }

                            .value {
                                font-size: 0.85rem;
                                color: rgba(0, 0, 0, 0.85);
                                font-weight: 500;
                                margin-top: -0.2rem;
                            }
                        }
                    }

                    .info-l {
                        display: flex;
                        flex-direction: column;
                        gap: 0.25rem;
                        margin-top: .7rem;

                        .info-item {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            /* padding: 0 1rem; */
                            .inf {
                                font-size: 0.8rem;
                                color: gray;
                                margin-top: -0.5rem;
                            }

                            .value {
                                font-size: 0.8rem;
                                color: rgba(0, 0, 0, 0.85);
                                font-weight: 500;
                                margin-top: -0.2rem;
                            }
                        }

                        .bukti {
                            display: flex;
                            flex-direction: column;
                            align-items: center;

                            img {
                                width: 200px;
                                /* height: 307px; */
                                max-height: 350px;
                                height: auto;
                                margin-top: 0.2rem;
                                border-radius: 6px;
                                border: 1px solid gray;
                            }

                            .inf {
                                color: gray;
                                /* margin-top: 0.1rem; */
                                width: 100%;
                                font-size: 0.9rem;
                            }
                        }
                    }
                }

                .sec::after {
                    content: "";
                    display: block;
                    border-bottom: 0.8px solid rgba(128, 128, 128, 0.199);
                    margin-top: 0.7rem !important;
                    transform: scaleX(1);
                }

                .third {
                    display: flex;
                    flex-direction: column;
                    border: 1px solid rgba(255, 0, 0, 0.8);
                    border-radius: .5rem;
                    padding: .5rem;

                    /* gap: .35rem; */

                    .message {
                        font-size: .9rem;
                        font-weight: 500;
                        font-style: italic;
                        color: rgba(255, 0, 0, 0.85);
                    }

                    .pesan {
                        font-size: .75rem;
                        color: rgba(0, 0, 0, 0.7);
                    }
                }
            }

            .modal-footer {
                padding: 0.3rem 0.7rem;
                display: flex;
                justify-content: center;

                .btn {
                    background: linear-gradient(rgb(88, 125, 246),
                            rgb(100, 203, 244));
                    color: white;
                    border: none;
                    outline: none;
                    border-radius: 10px;
                }
            }
        }
    }
}

/* histori pindah */
.riwayat-pindah {

    .modal-dialog {

        .modal-content {

            .modal-body {
                height: fit-content;
                max-height: 55vh;
                border-bottom: none !important;
                padding-top: 1rem !important;
                padding-left: 1rem !important;
                padding-right: 1rem !important;

                .first {
                    .suc {
                        display: flex;
                        flex-direction: column;
                        text-align: center;
                        gap: 0;

                        .mess {
                            font-size: 0.95rem;
                            font-weight: bold;
                            color: green;
                            letter-spacing: 0.3px;
                        }

                        .merr {
                            font-size: 0.95rem;
                            font-weight: bold;
                            color: rgb(255, 0, 0);
                            letter-spacing: 0.3px;
                        }

                        .tgl {
                            font-size: 0.7rem;
                            color: gray;
                        }

                    }

                    .stat {
                        background-color: white;
                        border-radius: 13px;
                        margin-top: 0.8rem;
                        border: 0.6px solid rgba(128, 128, 128, 0.447);
                        display: flex;
                        justify-content: space-between;
                        padding: 0.5rem 1rem;

                        .stat-item {
                            display: flex;
                            text-align: center;
                            flex-direction: column;

                            .head {
                                font-size: 0.75rem;
                                color: gray;
                            }

                            .value {
                                color: rgba(0, 0, 0, 0.78);
                                font-weight: 600;
                                font-size: 0.85rem;
                            }
                        }
                    }
                }

                .sec {
                    margin-top: .5rem;

                    .info-list {
                        display: flex;
                        flex-direction: column;
                        gap: 0.4rem;

                        .info-item {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            .inf {
                                font-size: 0.8rem;
                                color: gray;
                                margin-top: -0.2rem;
                            }

                            .value {
                                font-size: 0.85rem;
                                color: rgba(0, 0, 0, 0.85);
                                font-weight: 500;
                                margin-top: -0.2rem;
                            }
                        }
                    }

                    .info-l {
                        display: flex;
                        flex-direction: column;
                        gap: 0.4rem;
                        margin-top: .75rem;

                        .info-item {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            /* padding: 0 1rem; */
                            .inf {
                                font-size: 0.8rem;
                                color: gray;
                                margin-top: -0.5rem;
                            }

                            .value {
                                font-size: 0.8rem;
                                color: rgba(0, 0, 0, 0.85);
                                font-weight: 500;
                                margin-top: -0.2rem;
                            }
                        }

                        .bukti {
                            display: flex;
                            flex-direction: column;
                            align-items: center;

                            img {
                                width: 200px;
                                /* height: 307px; */
                                max-height: 350px;
                                height: auto;
                                margin-top: 0.5rem;
                                border-radius: 6px;
                                border: 1px solid gray;
                            }

                            .inf {
                                color: gray;
                                margin-top: 0.5rem;
                                width: 100%;
                                font-size: 0.9rem;
                            }
                        }
                    }
                }

                .alasan {
                    margin-top: .5rem;
                    display: flex;
                    flex-direction: column;
                    /* border: 1px solid rgba(255, 0, 0, 0.8); */
                    background-color: rgba(0, 0, 0, 0.08);
                    border-radius: .5rem;
                    padding: .5rem;

                    .heading {
                        font-size: .85rem;
                        color: rgba(0, 0, 0, 0.85);
                    }

                    .item {
                        font-size: .7rem;
                        color: rgba(0, 0, 0, 0.7);
                    }
                }

                .third {
                    margin-top: .5rem;
                    display: flex;
                    flex-direction: column;
                    border: 2.5px solid rgba(255, 0, 0, 0.4);
                    border-radius: .6rem;
                    padding: .5rem .7rem;

                    /* gap: .35rem; */

                    .message {
                        font-size: .9rem;
                        font-style: italic;
                        font-weight: 500;
                        color: rgba(0, 0, 0, 0.8);
                    }

                    .pesan {
                        font-size: .75rem;
                        line-height: 1.3;
                        color: rgba(0, 0, 0, 0.6);
                    }
                }
            }

            .modal-footer {
                padding: 0.3rem 0.7rem;
                display: flex;
                justify-content: center;

                .btn {
                    background: linear-gradient(rgb(88, 125, 246),
                            rgb(100, 203, 244));
                    color: white;
                    border: none;
                    outline: none;
                    border-radius: 10px;
                }
            }
        }
    }
}

.riwayat-kehilangan {

    .modal-dialog {

        .modal-content {
            .modal-body {
                max-height: 65vh;
                overflow: auto;
                display: flex;
                flex-direction: column;
                gap: .5rem;

                .first {
                    display: flex;
                    flex-direction: column;
                    /* gap: .3rem; */
                    align-items: center;
                    justify-content: center;

                    .top {
                        font-size: 1.15rem;
                        font-weight: 600;
                        color: #0364b3;
                    }

                    .bottom {
                        font-size: .7rem;
                        color: rgba(0, 0, 0, 0.65);
                    }
                }

                .sec {
                    display: flex;
                    flex-direction: column;
                    gap: .25rem;

                    .umum {
                        display: flex;
                        flex-direction: column;
                        /* gap: .2rem; */

                        .umum-item {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            .left {
                                font-size: .85rem;
                                color: rgba(0, 0, 0, 0.5);
                            }

                            .right {
                                font-size: .9rem;
                                color: rgba(0, 0, 0, 0.65);
                            }
                        }
                    }

                    .lost {
                        display: flex;
                        flex-direction: column;
                        /* gap: .2rem; */

                        .lost-item {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            .left {
                                font-size: .85rem;
                                color: rgba(0, 0, 0, 0.7);
                            }

                            .right {
                                font-size: .9rem;
                                color: rgba(0, 0, 0, 0.85);
                            }
                        }

                        .lost-keterangan {
                            margin-top: .2rem;
                            background-color: rgba(0, 0, 0, 0.1);
                            padding: .35rem .6rem;
                            padding-bottom: .45rem !important;
                            border-radius: .4rem;

                            .the-keterangan {
                                display: flex;
                                flex-direction: column;
                                gap: .05rem;
                                justify-content: flex-start;

                                .left {
                                    font-size: .8rem;
                                    font-weight: 500;
                                    color: rgba(0, 0, 0, 0.75);
                                }

                                .right {
                                    line-height: 1.3;
                                    font-size: .7rem;
                                    color: rgba(0, 0, 0, 0.6);
                                }
                            }
                        }

                        .lost-respon {
                            margin-top: .5rem;
                            /* background-color: rgba(0, 0, 0, 0.15); */
                            border: 2.5px solid rgba(0, 191, 255, 0.4);
                            padding: .3rem .7rem;
                            padding-bottom: .5rem !important;
                            border-radius: .6rem;

                            .the-respon {
                                display: flex;
                                flex-direction: column;
                                gap: .05rem;
                                justify-content: flex-start;

                                .left {
                                    font-weight: 500;
                                    font-style: italic;
                                    font-size: .8rem;
                                    color: rgba(0, 0, 0, 0.75);
                                }

                                .right {
                                    font-size: .65rem;
                                    line-height: 1.3;
                                    color: rgba(0, 0, 0, 0.6);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.riwayat-kerusakan {

    .modal-dialog {

        .modal-content {
            .modal-body {
                max-height: 65vh;
                overflow: auto;
                display: flex;
                flex-direction: column;
                gap: .5rem;

                .first {
                    display: flex;
                    flex-direction: column;
                    /* gap: .3rem; */
                    align-items: center;
                    justify-content: center;

                    .top {
                        font-size: 1.15rem;
                        font-weight: 600;
                        color: #0364b3;
                    }

                    .bottom {
                        font-size: .7rem;
                        color: rgba(0, 0, 0, 0.65);
                    }
                }

                .sec {
                    display: flex;
                    flex-direction: column;
                    gap: .25rem;

                    .umum {
                        display: flex;
                        flex-direction: column;
                        /* gap: .2rem; */

                        .umum-item {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            .left {
                                font-size: .85rem;
                                color: rgba(0, 0, 0, 0.5);
                            }

                            .right {
                                font-size: .9rem;
                                color: rgba(0, 0, 0, 0.65);
                            }
                        }
                    }

                    .lost {
                        display: flex;
                        flex-direction: column;
                        /* gap: .2rem; */

                        .lost-item {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            .left {
                                font-size: .8rem;
                                color: rgba(0, 0, 0, 0.7);
                            }

                            .right {
                                font-size: .85rem;
                                color: rgba(0, 0, 0, 0.85);
                            }
                        }

                        .lost-keterangan {
                            margin-top: .5rem;
                            background-color: rgba(0, 0, 0, 0.1);
                            padding: .35rem .6rem;
                            padding-bottom: .45rem !important;
                            border-radius: .4rem;

                            .the-keterangan {
                                display: flex;
                                flex-direction: column;
                                gap: .05rem;
                                justify-content: flex-start;

                                .left {
                                    font-size: .8rem;
                                    font-weight: 500;
                                    color: rgba(0, 0, 0, 0.75);
                                }

                                .right {
                                    line-height: 1.3;
                                    font-size: .7rem;
                                    color: rgba(0, 0, 0, 0.6);
                                }
                            }
                        }

                        .foto {
                            padding: .5rem 0rem;

                            .titles {
                                font-size: .9rem;
                                font-weight: 500;
                                font-style: italic;
                                /* padding-bottom: .2rem; */
                            }

                            .foto-item {
                                /* background-color: aqua; */
                                display: flex;
                                gap: .4rem;
                                width: 100%;
                                overflow-x: scroll;

                                .item {
                                    box-sizing: border-box;
                                    height: 5rem;
                                    width: 5rem !important;

                                    .i-gambars {
                                        overflow: hidden;
                                        height: 5rem;
                                        width: 5rem !important;
                                        border-radius: .5rem !important;
                                        border: 1.5px solid rgb(203, 203, 203) !important;

                                        img {
                                            width: 5rem;
                                            min-height: 5rem;
                                            height: auto;
                                        }
                                    }


                                }
                            }
                        }

                        .lost-respon {
                            margin-top: .5rem;
                            /* background-color: rgba(0, 0, 0, 0.15); */
                            border: 2.5px solid rgba(0, 191, 255, 0.4);
                            padding: .3rem .7rem;
                            padding-bottom: .5rem !important;
                            border-radius: .6rem;

                            .the-respon {
                                display: flex;
                                flex-direction: column;
                                gap: .05rem;
                                justify-content: flex-start;

                                .left {
                                    font-weight: 500;
                                    font-style: italic;
                                    font-size: .8rem;
                                    color: rgba(0, 0, 0, 0.75);
                                }

                                .right {
                                    font-size: .65rem;
                                    line-height: 1.3;
                                    color: rgba(0, 0, 0, 0.6);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* KUMPULAN MODAL  */

/* M E N U  S */

.navbar.fixed-bottom {
    padding: .23rem .4rem;
    /* background: linear-gradient(rgb(0, 145, 255), rgb(0, 213, 255)); */
    background-color: rgb(255, 255, 255);
    border-top: .5px solid rgba(128, 128, 128, 0.4);
}

.navbar.fixed-bottom .container-fluid {
    justify-content: space-between !important;
    display: flex;
    align-items: center;
    /* border: 1px solid whir; */
    padding: .7px 1rem !important;
    padding-top: 7px !important;
}

.nav-link {
    display: flex !important;
    flex-direction: column;
    /* padding: 0rem 3rem; */


    i {
        display: flex;
        align-self: center;
        color: rgba(0, 0, 0, 0.2);

        height: fit-content;
        width: fit-content;
        font-size: 18px;
        padding-bottom: 1px;
    }

    .isi {
        font-size: 0.7rem;
        color: rgba(0, 0, 0, 0.2);

    }
}

.navbar.fixed-bottom .active {
    color: white;

    i {
        background-image: linear-gradient(to bottom right, #0062ff, #9bcaee);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    .isi {
        background-image: linear-gradient(to bottom left, #0062ff, #9bcaee);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;

    }
}

/* M E N U  E*/


/* bukti */

div:where(.swal2-container) div:where(.swal2-popup) {
    width: fit-content !important;
    padding: .15rem !important;
    border-radius: .5rem !important;
}

div:where(.swal2-container) img:where(.swal2-image) {
    height: auto !important;
    width: 18rem !important;
    /* max-width: 100% ; */
    margin: 0 !important;
    border-radius: .35rem !important;
}

.crewsakan {
    .swal2-popup {
        width: fit-content !important;
        padding: .15rem !important;
        border-radius: .5rem !important;
        /* height: 24rem; */
        overflow: hidden;
    }

    img {
        height: auto !important;
        max-height: 18rem;
        width: auto !important;
        margin: 0 !important;
        border-radius: .35rem !important;
    }
}