*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: rgb(221, 221, 221) !important;
    /* padding-bottom: 4.8rem; */
}

.filter {
    padding: 1rem .8rem !important;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: .8rem;
    width: auto;
    overflow-x: auto !important;
    /* scrollbar-width: 0 !important; */


    .btns {
        width: fit-content;
        border: none;
        background: transparent;
        /* background-color: #0062ff; */

        .item {
            /* width: 100%; */
            white-space: nowrap;
            width: fit-content;
            font-size: .9rem;
        }

        .pembayaran-btn {
            padding: .5rem .8rem;
            border-radius: 2rem;
            background: rgb(255, 252, 252);
            border: 1px solid rgb(188, 188, 188);
        }

        .pindah-kamar {
            padding: .5rem .8rem;
            border-radius: 2rem;
            background: rgb(255, 252, 252);
            border: 1px solid rgb(188, 188, 188);
        }

        .laporan-kehilangan {
            padding: .5rem .8rem;
            border-radius: 2rem;
            background: rgb(255, 252, 252);
            border: 1px solid rgb(188, 188, 188);
        }

        .laporan-kerusakan {
            padding: .5rem .8rem;
            border-radius: 2rem;
            background: rgb(255, 252, 252);
            border: 1px solid rgb(188, 188, 188);
        }

    }

    .btns.active {
        .item {
            background: linear-gradient(to bottom right, rgb(0, 138, 202), rgb(102, 201, 241));
            color: white;
            border: none;
        }
    }
}

.filter::-webkit-scrollbar {
    width: 0;
}

.splide__slide::-webkit-scrollbar {
    width: 0;
}

.container-fluid {
    /* min-height: 100vh; */
    height: fit-content;
    padding-top: 0 !important;
    padding: 1rem;

    .splide {
        .splide__track {
            .splide__list {
                height: calc(100vh - 12rem) !important;
                /* width: fit-content; */


                .splide__slide {
                    overflow-y: auto;
                    width: 100%;
                    /* height: fit-content !important; */

                    .container.for-pay {
                        display: flex;
                        flex-direction: column;
                        width: fit-content !important;
                        gap: .7rem;
                        /* background-color: #0062ff; */
                        --bs-gutter-x: none;

                        .riwayat-item.kost {
                            padding: .2rem;
                            border-radius: .5rem;
                            background: white;

                            .items {
                                background: rgb(241, 240, 240);
                                display: flex;
                                flex-direction: column;
                                gap: .5rem;
                                padding: .7rem .5rem;
                                border-radius: .4rem;

                                .heading {
                                    padding: 0 .5rem;
                                    display: flex;
                                    align-items: center;
                                    gap: 1.5rem;

                                    .logo {
                                        img {
                                            height: 2rem;
                                        }
                                    }

                                    .status.accept {
                                        padding: .2rem 1rem;
                                        background-color: rgba(7, 242, 7, 0.2);
                                        color: rgb(0, 161, 0);
                                        font-weight: 500;
                                        border-radius: 1rem;
                                        font-size: .85rem;
                                    }

                                    .status.dismiss {
                                        padding: .2rem 1.3rem;
                                        background-color: rgba(242, 7, 7, 0.2);
                                        color: rgb(230, 0, 0);
                                        font-weight: 500;
                                        border-radius: 1rem;
                                        font-size: .9rem;
                                    }
                                }

                                .info {
                                    display: flex;
                                    flex-direction: column;
                                    gap: .3rem;

                                    .info-head {
                                        font-weight: 500;
                                        font-size: .95rem;
                                    }

                                    .info-data {
                                        font-size: .75rem;
                                        color: rgba(39, 39, 39, 0.667);
                                    }
                                }

                                .date {
                                    display: flex;
                                    gap: .5rem;
                                    align-items: center;

                                    .id-pembayaran {
                                        font-style: italic;
                                        font-weight: 500;
                                        font-size: .8rem;
                                    }

                                    .center {
                                        i {
                                            color: rgba(116, 115, 115, 0.8);
                                        }
                                    }

                                    .tanggal-pembayaran {
                                        color: rgba(96, 96, 96, 0.8);
                                        font-size: .8rem;
                                    }
                                }
                            }

                        }
                    }

                    .container.for-pindah {
                        display: flex;
                        flex-direction: column;
                        width: fit-content !important;
                        gap: .7rem;
                        /* background-color: #0062ff; */
                        --bs-gutter-x: none;

                        .riwayat-item.kost {
                            padding: .2rem;
                            border-radius: .5rem;
                            background: white;

                            .items {
                                background: rgb(241, 240, 240);
                                display: flex;
                                flex-direction: column;
                                gap: .5rem;
                                padding: .7rem .5rem;
                                border-radius: .4rem;

                                .heading {
                                    padding: 0 .5rem;
                                    display: flex;
                                    align-items: center;
                                    gap: 1.5rem;

                                    .logo {
                                        img {
                                            height: 2rem;
                                        }
                                    }

                                    .status.accept {
                                        padding: .2rem 1rem;
                                        background-color: rgba(7, 242, 7, 0.2);
                                        color: rgb(0, 161, 0);
                                        font-weight: 500;
                                        border-radius: 1rem;
                                        font-size: .85rem;
                                    }

                                    .status.dismiss {
                                        padding: .2rem 1.3rem;
                                        background-color: rgba(242, 7, 7, 0.2);
                                        color: rgb(230, 0, 0);
                                        font-weight: 500;
                                        border-radius: 1rem;
                                        font-size: .9rem;
                                    }
                                }

                                .info {
                                    display: flex;
                                    flex-direction: column;
                                    gap: .3rem;

                                    .info-head {
                                        font-weight: 500;
                                        font-size: .95rem;
                                    }

                                    .info-data {
                                        font-size: .75rem;
                                        color: rgba(39, 39, 39, 0.667);
                                    }
                                }

                                .date {
                                    display: flex;
                                    gap: .5rem;
                                    align-items: center;

                                    .id-pembayaran {
                                        /* font-style: italic;
                                         */
                                        font-weight: 500;
                                        font-size: .75rem;
                                        padding: .3rem .6rem;
                                        border-radius: 1rem;
                                        background: rgba(128, 128, 128, 0.35);
                                        color: rgba(0, 0, 0, 0.5);
                                    }

                                    .center {
                                        i {
                                            color: rgba(116, 115, 115, 0.8);
                                        }
                                    }

                                    .tanggal-pembayaran {
                                        color: rgba(96, 96, 96, 0.8);
                                        font-size: .8rem;
                                    }
                                }
                            }

                        }
                    }

                    .container.empties {
                        height: calc(100vh - 8rem) !important;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        gap: .3rem;

                        .logo {
                            img {
                                height: 13.5rem;
                            }
                        }

                        .text {
                            text-align: center;
                            font-size: .95rem;
                            color: rgba(0, 0, 0, 0.6);
                            line-height: 1.2;
                        }
                    }
                }
            }
        }
    }

}


/* KUMPULAN MODAL PEMBAYARAN */


/* histori pembayaran */

.riwayat-pembayaran {

    .modal-dialog {

        .modal-content {

            .modal-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0.7rem 1rem !important;

                .modal-title {
                    img {
                        height: 25px;
                        width: 87px;
                    }
                }

                .id {
                    display: flex;
                    font-size: 0.7rem;
                    font-weight: 600;
                    gap: 0.5rem;
                }
            }

            .modal-body {
                height: 22rem;
                border-bottom: none !important;
                padding-top: 1rem !important;
                padding-left: 1rem !important;
                padding-right: 1rem !important;

                .first {
                    .suc {
                        display: flex;
                        flex-direction: column;
                        text-align: center;
                        gap: 0;

                        .mess {
                            font-size: 0.95rem;
                            font-weight: bold;
                            color: green;
                            letter-spacing: 0.3px;
                        }

                        .merr {
                            font-size: 0.95rem;
                            font-weight: bold;
                            color: rgb(255, 0, 0);
                            letter-spacing: 0.3px;
                        }

                        .tgl {
                            font-size: 0.7rem;
                            color: gray;
                        }

                        .pay {
                            font-size: 1.2rem;
                            font-weight: bolder;
                            margin-top: 0.5rem;
                        }
                    }

                    .stat {
                        background-color: white;
                        border-radius: 13px;
                        margin-top: 0.8rem;
                        border: 0.6px solid rgba(128, 128, 128, 0.447);
                        display: flex;
                        justify-content: space-between;
                        padding: 0.5rem 1rem;

                        .stat-item {
                            display: flex;
                            text-align: center;
                            flex-direction: column;

                            .head {
                                font-size: 0.75rem;
                                color: gray;
                            }

                            .value {
                                color: rgba(0, 0, 0, 0.78);
                                font-weight: 600;
                                font-size: 0.85rem;
                            }
                        }
                    }
                }

                .sec {
                    margin-top: .5rem;

                    .info-list {
                        display: flex;
                        flex-direction: column;
                        gap: 0.4rem;

                        .info-item {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            .inf {
                                font-size: 0.8rem;
                                color: gray;
                                margin-top: -0.2rem;
                            }

                            .value {
                                font-size: 0.85rem;
                                color: rgba(0, 0, 0, 0.85);
                                font-weight: 500;
                                margin-top: -0.2rem;
                            }
                        }
                    }

                    .info-l {
                        display: flex;
                        flex-direction: column;
                        gap: 0.4rem;
                        margin-top: .75rem;

                        .info-item {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            /* padding: 0 1rem; */
                            .inf {
                                font-size: 0.8rem;
                                color: gray;
                                margin-top: -0.5rem;
                            }

                            .value {
                                font-size: 0.8rem;
                                color: rgba(0, 0, 0, 0.85);
                                font-weight: 500;
                                margin-top: -0.2rem;
                            }
                        }

                        .bukti {
                            display: flex;
                            flex-direction: column;
                            align-items: center;

                            img {
                                width: 200px;
                                /* height: 307px; */
                                max-height: 350px;
                                height: auto;
                                margin-top: 0.5rem;
                                border-radius: 6px;
                                border: 1px solid gray;
                            }

                            .inf {
                                color: gray;
                                margin-top: 0.5rem;
                                width: 100%;
                                font-size: 0.9rem;
                            }
                        }
                    }
                }

                .sec::after {
                    content: "";
                    display: block;
                    border-bottom: 0.8px solid rgba(128, 128, 128, 0.199);
                    margin-top: 0.7rem !important;
                    transform: scaleX(1);
                }

                .third {
                    display: flex;
                    flex-direction: column;
                    border: 1px solid rgba(255, 0, 0, 0.8);
                    border-radius: .5rem;
                    padding: .5rem;

                    /* gap: .35rem; */

                    .message {
                        font-size: .9rem;
                        color: rgba(0, 0, 0, 0.85);
                    }

                    .pesan {
                        font-size: .75rem;
                        color: rgba(0, 0, 0, 0.7);
                    }
                }
            }

            .modal-footer {
                padding: 0.3rem 0.7rem;
                display: flex;
                justify-content: center;

                .btn {
                    background: linear-gradient(rgb(88, 125, 246),
                            rgb(100, 203, 244));
                    color: white;
                    border: none;
                    outline: none;
                    border-radius: 10px;
                }
            }
        }
    }
}

.riwayat-pindah {

    .modal-dialog {

        .modal-content {

            .modal-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0.7rem 1rem !important;

                .modal-title {
                    img {
                        height: 25px;
                        width: 87px;
                    }
                }

                .id {
                    display: flex;
                    font-size: 0.7rem;
                    font-weight: 600;
                    gap: 0.5rem;
                }
            }

            .modal-body {
                height: fit-content !important;
                /* max-height: 22rem; */
                border-bottom: none !important;
                padding-top: 1rem !important;
                padding-left: 1rem !important;
                padding-right: 1rem !important;

                .first {
                    .suc {
                        display: flex;
                        flex-direction: column;
                        text-align: center;
                        gap: 0;

                        .mess {
                            font-size: 0.95rem;
                            font-weight: bold;
                            color: green;
                            letter-spacing: 0.3px;
                        }

                        .merr {
                            font-size: 0.95rem;
                            font-weight: bold;
                            color: rgb(255, 0, 0);
                            letter-spacing: 0.3px;
                        }

                        .tgl {
                            font-size: 0.7rem;
                            color: gray;
                        }

                        .pay {
                            font-size: 1.2rem;
                            font-weight: bolder;
                            margin-top: 0.5rem;
                        }
                    }

                    .stat {
                        background-color: white;
                        border-radius: 13px;
                        margin-top: 0.8rem;
                        border: 0.6px solid rgba(128, 128, 128, 0.447);
                        display: flex;
                        justify-content: space-between;
                        padding: 0.5rem 1rem;

                        .stat-item {
                            display: flex;
                            text-align: center;
                            flex-direction: column;

                            .head {
                                font-size: 0.75rem;
                                color: gray;
                            }

                            .value {
                                color: rgba(0, 0, 0, 0.78);
                                font-weight: 600;
                                font-size: 0.85rem;
                            }
                        }
                    }
                }

                .sec {
                    margin-top: .5rem;

                    .info-list {
                        display: flex;
                        flex-direction: column;
                        gap: 0.4rem;

                        .info-item {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            .inf {
                                font-size: 0.8rem;
                                color: gray;
                                margin-top: -0.2rem;
                            }

                            .value {
                                font-size: 0.85rem;
                                color: rgba(0, 0, 0, 0.85);
                                font-weight: 500;
                                margin-top: -0.2rem;
                            }
                        }
                    }

                    .info-l {
                        display: flex;
                        flex-direction: column;
                        gap: 0.4rem;
                        margin-top: .75rem;

                        .info-item {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            /* padding: 0 1rem; */
                            .inf {
                                font-size: 0.8rem;
                                color: gray;
                                margin-top: -0.5rem;
                            }

                            .value {
                                font-size: 0.8rem;
                                color: rgba(0, 0, 0, 0.85);
                                font-weight: 500;
                                margin-top: -0.2rem;
                            }
                        }

                        .bukti {
                            display: flex;
                            flex-direction: column;
                            align-items: center;

                            img {
                                width: 200px;
                                /* height: 307px; */
                                max-height: 350px;
                                height: auto;
                                margin-top: 0.5rem;
                                border-radius: 6px;
                                border: 1px solid gray;
                            }

                            .inf {
                                color: gray;
                                margin-top: 0.5rem;
                                width: 100%;
                                font-size: 0.9rem;
                            }
                        }
                    }
                }

                .alasan {
                    margin-top: .5rem;
                    display: flex;
                    flex-direction: column;
                    /* border: 1px solid rgba(255, 0, 0, 0.8); */
                    background-color: rgba(0, 0, 0, 0.08);
                    border-radius: .5rem;
                    padding: .5rem;

                    .heading {
                        font-size: .85rem;
                        color: rgba(0, 0, 0, 0.85);
                    }

                    .item {
                        font-size: .7rem;
                        color: rgba(0, 0, 0, 0.7);
                    }
                }

                .third {
                    margin-top: .5rem;
                    display: flex;
                    flex-direction: column;
                    border: 1px solid rgba(255, 0, 0, 0.8);
                    border-radius: .5rem;
                    padding: .5rem;

                    /* gap: .35rem; */

                    .message {
                        font-size: .9rem;
                        color: rgba(0, 0, 0, 0.85);
                    }

                    .pesan {
                        font-size: .75rem;
                        color: rgba(0, 0, 0, 0.7);
                    }
                }
            }

            .modal-footer {
                padding: 0.3rem 0.7rem;
                display: flex;
                justify-content: center;

                .btn {
                    background: linear-gradient(rgb(88, 125, 246),
                            rgb(100, 203, 244));
                    color: white;
                    border: none;
                    outline: none;
                    border-radius: 10px;
                }
            }
        }
    }
}

/* histori pembayaran */


/* KUMPULAN MODAL PEMBAYARAN */

/* M E N U  S */

.navbar.fixed-bottom {
    padding: .23rem .4rem;
    /* background: linear-gradient(rgb(0, 145, 255), rgb(0, 213, 255)); */
    background-color: rgb(255, 255, 255);
    border-top: .5px solid rgba(128, 128, 128, 0.4);
}

.navbar.fixed-bottom .container-fluid {
    justify-content: space-between !important;
    display: flex;
    align-items: center;
    /* border: 1px solid whir; */
    padding: .7px 1rem !important;
    padding-top: 7px !important;
}

.nav-link {
    display: flex !important;
    flex-direction: column;
    /* padding: 0rem 3rem; */


    i {
        display: flex;
        align-self: center;
        color: rgba(0, 0, 0, 0.2);

        height: fit-content;
        width: fit-content;
        font-size: 18px;
        padding-bottom: 1px;
    }

    .isi {
        font-size: 0.7rem;
        color: rgba(0, 0, 0, 0.2);

    }
}

.navbar.fixed-bottom .active {
    color: white;

    i {
        background-image: linear-gradient(to bottom right, #0062ff, #9bcaee);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    .isi {
        background-image: linear-gradient(to bottom left, #0062ff, #9bcaee);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;

    }
}

/* M E N U  E*/