:root {
    --black: rgba(0, 0, 0, 0.7);
    --gray: rgba(128, 128, 128, 0.75);
}

*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: rgba(141, 141, 143, 0.75) !important;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
    height: fit-content !important;
}

.navbar {
    justify-content: unset !important;
    height: 3rem;
    border-bottom: .5px solid rgba(128, 128, 128, 0.4);
    background-color: rgb(255, 255, 255);

    padding: 0 1rem !important;

    .container-fluid {
        display: flex;
        justify-content: start !important;
        padding-left: 1.5rem !important;

        padding: 0;

        .back {
            position: absolute;
            left: .7rem;
            text-decoration: none;
            color: black;

            .left {
                font-size: 1.4rem;
                font-weight: bold !important;
            }
        }

    }

}

.form {
    margin-top: 1rem;
    background-color: white;
    /* border-radius: .5rem; */

    .inform-umum {
        display: flex;
        flex-direction: column;
        padding: .5rem .7rem;
        border-bottom: 1.4px dashed gray;

        .umum-item {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .kiri {
                font-size: 0.8rem;
                color: gray;

            }

            .kanan {
                font-size: 0.85rem;
                color: rgba(0, 0, 0, 0.85);
                font-weight: 500;

            }
        }
    }

    .inform-total {
        display: flex;
        justify-content: space-between;
        padding: .5rem .7rem;
        /* background-color: brown; */

        .info {
            color: var(--black);
        }

        .value {
            color: rgba(0, 0, 0, 0.9);
            font-size: 1.1rem;
        }
    }

    .inform-pay {
        display: flex;
        flex-direction: column;
        /* padding: .5rem .7rem; */

        .media {
            display: flex;
            padding: 0 .7rem;
            align-items: center;
            gap: .5rem;
            /* background-color: aquamarine; */

            .logo {
                height: 1.5rem;
                max-width: 4rem;

                img {
                    height: 1.5rem;
                    width: auto;
                }
            }

            .nama-bank {
                font-size: .9rem;
            }

        }

        .message {
            font-size: .75rem;
            color: var(--black);
            padding: 0rem .7rem;
            margin-top: .5rem;
            margin-bottom: 0 !important;
            /* background-color: blue; */
        }

        .rekening {
            display: flex;
            align-items: center;
            padding: 0 .7rem;
            gap: .3rem;
            /* background-color: red; */

            .no-rek {
                font-weight: 600;
                background-clip: text;
                background: rgb(52, 125, 235);
                -webkit-background-clip: text;
                color: transparent;
            }

        }


        .atas-nama {
            padding: 0 .7rem;
            font-size: .95rem;
            gap: .3rem !important;
            /* background-color: chartreuse; */
        }
    }


    .kumpulan-button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .5rem .7rem;
        padding-bottom: .9rem;
        /* background-color: red; */

        .back {
            margin: 0 !important;

            /* background-color: coral; */
            border: 1.5px solid rgb(28, 87, 238);
            font-size: .9rem;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            background-clip: text;
            background: linear-gradient(rgb(21, 75, 224), rgb(32, 156, 205));
            -webkit-background-clip: text;
            font-weight: 500;
            color: transparent;
            padding: .3rem .5rem;
            border-radius: .4rem;
        }

        .submit {
            margin: 0 !important;
            border: none;
            font-size: .9rem;
            padding: .4rem .5rem;
            background: linear-gradient(rgb(21, 75, 224), rgb(32, 156, 205));
            color: white;
            border-radius: .4rem;
        }
    }

}

.splide.banner {

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    padding: .5rem;
    margin-top: .5rem;

    .splide__track {
        overflow: hidden;
        border-radius: .8rem;
        height: fit-content;


        .splide__list {
            height: fit-content;

            .splide__slide {
                img {
                    width: 100% !important;
                    height: 12rem !important;
                }
            }
        }
    }
}

.container.cuci-sepatu {
    margin-top: .5rem;
    margin-bottom: 1rem;
    border-radius: .7rem;

    .row {
        display: flex;
        justify-content: space-between;

        .col-6 {
            .px-2 {
                background: white;
                border-radius: .5rem;
                display: flex;
                flex-direction: column;
                gap: .5rem;

                .s-gambar {
                    img {
                        height: 5rem;
                        width: auto;
                    }
                }

                .d-l {
                    display: flex;
                    flex-direction: column;

                    .nama-layanan {
                        font-size: 1.05rem;
                        color: var(--black);
                    }

                    .desk {
                        font-size: .55rem;
                        line-height: 1.2;
                        color: var(--gray);
                    }
                }

                .tombol-lihat {
                    padding-top: .1rem;

                    .btn {
                        padding: .2rem 1.5rem;
                        border-radius: .4rem;
                        color: white;
                        background: linear-gradient(to bottom right, rgb(0, 94, 255), rgb(18, 171, 232));
                        font-size: .9rem;
                        outline: unset;
                        border: unset;
                    }
                }
            }
        }
    }
}

.alert {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000000 !important;
    position: absolute !important;

    .menyala {
        opacity: 0;
        display: flex;
        padding: .5rem 1rem;
        border-radius: .8rem;
        width: 80% !important;
        align-items: center;
        gap: 0.5rem;
        font-size: .85rem;
        background-color: rgba(0, 0, 0, 0.75);
        color: white;
        transition: .5s ease-in-out;
        font-weight: 400;
    }
}

.cops {
    opacity: 1 !important;
}

.notification.visible {
    transition: 0.5s ease-in-out;
    opacity: 1;
}

.splide__arrows {
    .splide__arrow {
        background-color: rgba(255, 0, 0, 0) !important;
        opacity: 1 !important;

        .bx {
            font-size: 2rem;
            text-shadow: 0px 0px 1px white;
            color: rgba(0, 0, 0, 0.8);
            mix-blend-mode: difference;
        }
    }

}


.special {
    .kanan {
        color: rgb(255, 187, 0) !important;
    }
}

.ico {
    height: .9rem;
    width: .9rem;
    transition: .3s ease-in-out;
}

/* .co {
        height: 1.3rem;
        width: 1.3rem;
    } */