:root {
    --black: rgba(0, 0, 0, 0.7);
    --gray: rgba(128, 128, 128, 0.75);
}

*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: rgba(141, 141, 143, 0.75) !important;
}

.navbar {
    justify-content: unset !important;
    height: 3.5rem;
    border-bottom: .5px solid rgba(128, 128, 128, 0.4);
    background-color: rgb(255, 255, 255);

    padding: 0 1rem !important;

    .container-fluid {
        display: flex;
        justify-content: start !important;
        padding-left: 1.5rem !important;

        padding: 0;

        .back {
            position: absolute;
            left: .7rem;
            text-decoration: none;
            color: black;

            .left {
                font-size: 1.4rem;
                font-weight: bold !important;
            }
        }

    }

}

.form {
    margin-top: 1rem;
    background-color: white;
    /* border-radius: .5rem; */

    .inform-umum {
        display: flex;
        flex-direction: column;
        padding: .5rem .7rem;
        border-bottom: 1.5px dashed gray;

        .umum-item {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .kiri {
                font-size: 0.8rem;
                color: gray;

            }

            .kanan {
                font-size: 0.85rem;
                color: rgba(0, 0, 0, 0.85);
                font-weight: 500;

            }
        }
    }

    .inform-total {
        display: flex;
        justify-content: space-between;
        padding: .5rem .7rem;
        /* background-color: brown; */

        .info {
            color: var(--black);
        }

        .value {
            color: rgba(0, 0, 0, 0.9);
            font-size: 1.1rem;
        }
    }

    .inform-pay {
        display: flex;
        flex-direction: column;
        /* padding: .5rem .7rem; */

        .media {
            display: flex;
            padding: 0 .7rem;
            align-items: center;
            gap: 1rem;
            /* background-color: aquamarine; */

            .logo {
                height: 1.4rem;
                max-width: 4rem;

                img {
                    height: 1.4rem;
                    width: auto;
                }
            }

            .nama-bank {
                font-size: .9rem;
            }

        }

        .message {
            font-size: .75rem;
            color: var(--black);
            padding: 0rem .7rem;
            margin-top: .5rem;
            /* background-color: blue; */
        }

        .rekening {
            display: flex;
            align-items: center;
            padding: 0 .7rem;
            gap: .5rem;
            /* background-color: red; */

            .no-rek {
                font-weight: 600;
                background-clip: text;
                background: linear-gradient(to right, rgb(0, 85, 255), rgb(32, 168, 221));
                -webkit-background-clip: text;
                color: transparent;
            }

            .copy {
                background-color: aqua;
            }
        }


        .atas-nama {
            padding: 0 .7rem;
            padding-bottom: .5rem;
            /* background-color: chartreuse; */
        }
    }

}


.notification {
    height: 2.5rem;
    width: 80%;
    /* margin: 0 2rem !important; */
    background-color: rgb(0, 0, 0, 0.5);
    display: flex;
    position: fixed;
    top: 80%;
    color: white;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    opacity: 0;
    /* Awalnya div tidak terlihat */
    transition: 0.5s ease-in-out;
}

.notification.visible {
    transition: 0.5s ease-in-out;
    opacity: 1;
}