*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: rgba(236, 233, 233, 0.881) !important;
    padding-bottom: 3.5rem;
}


.navbar {
    justify-content: unset !important;
    height: 3rem;
    border-bottom: .5px solid rgba(128, 128, 128, 0.4);
    background-color: rgb(255, 255, 255);

    padding: 0 1rem !important;

    .container-fluid {
        display: flex;
        justify-content: start !important;
        padding-left: 1.5rem !important;

        padding: 0;

        .back {
            position: absolute;
            left: .7rem;
            text-decoration: none;
            color: black;

            .left {
                font-size: 1.4rem;
                font-weight: bold !important;
            }
        }

        .help {
            margin-left: 10rem;

            img {
                width: 2rem;
                height: 2rem;
            }
        }
    }

}

.splide.banner {
    width: 100%;
    /* background-color: blue; */
    padding: 1rem .7rem !important;
    height: fit-content;
    overflow: hidden;
    background: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    .splide__track {


        .splide__list {

            /* padding: 1rem !important; */
            .splide__slide {
                img {
                    border-radius: .5rem;
                    height: 10rem;
                    width: 100%;
                }
            }

        }

        .splide__slide .empty-pro {
            background-color: rgb(177, 177, 177);
            height: 10rem;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            border-radius: .5rem;

            .one {
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    height: 5rem;
                    width: 5rem;
                }
            }

            .two {
                font-size: .9rem;
                margin-top: -.2rem;
                color: white;
            }
        }
    }

}

.const {
    margin-top: 1rem;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: .1rem !important;

    .layanan-cuci {
        padding-bottom: 4.7rem;

        .container.text-center {
            .row.row-cols-3 {
                /* gap: .8rem !important; */
                row-gap: .3rem !important;

                .col {
                    .item-pelayanan {
                        height: 6.5rem;
                        width: 6.5rem;
                        border-radius: 7px;
                        background: linear-gradient(to bottom right, rgba(35, 193, 217, 0.7), rgba(50, 141, 253, 0.7));
                        padding: .5rem 0;
                        padding-top: .6rem !important;
                        /* box-shadow: 1px 1px .5px rgba(128, 128, 128, 0.684); */

                        a {
                            text-decoration: none;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;

                            .gambar {
                                width: 4rem;
                                height: 4rem;
                                display: flex;
                                align-items: center;
                                justify-content: center;

                                img {
                                    height: 4rem;
                                    width: auto;
                                    /* background-color: cyan; */
                                }

                                .cuciSetrika {
                                    height: 4rem !important;
                                    width: 4rem !important;
                                }
                            }


                            .pelayanan-name {
                                display: flex;
                                align-items: center !important;
                                font-size: .9rem !important;
                                justify-content: center !important;
                                font-size: .95rem;

                                color: white;
                                /* background-color: black; */
                                height: 2rem;
                                line-height: 1.2;
                            }
                        }

                    }
                }
            }
        }
    }
}

.navbar.fixed-bottom {
    height: fit-content;
    background-color: rgb(255, 255, 255);
    border-top: .5px solid rgba(128, 128, 128, 0.4);
}

.navbar.fixed-bottom .container-fluid {
    justify-content: space-between !important;
    display: flex;
    align-items: center;
    /* border: 1px solid whir; */
    /* padding: 2rem 1rem !important; */
    height: 3.2rem;
    padding-top: 7px !important;

}

.nav-link {
    display: flex !important;
    flex-direction: column;
    /* padding: 0rem 3rem; */


    i {
        display: flex;
        align-self: center;
        color: rgba(0, 0, 0, 0.2);

        height: fit-content;
        width: fit-content;
        font-size: 1.5rem;
        padding-bottom: 1px;
        /* background-color: rgb(247, 0, 0); */
    }


    .isi {
        font-size: 0.7rem;
        color: rgba(0, 0, 0, 0.2);
        /* background-color: #9bcaee; */
    }
}

.navbar.fixed-bottom .active {
    color: white;

    i {
        background-image: linear-gradient(to bottom right, #0062ff, #9bcaee);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    .isi {
        background-image: linear-gradient(to bottom left, #0062ff, #9bcaee);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;

    }
}








/* PROSES LAUNDRY */

.super-khusus-proses {
    /* margin-top: 1rem; */
    width: 95%;
    margin: 1rem auto;

    .proses {
        border-radius: .5rem;
        background-color: white;
        --bs-gutter-x: unset !important;
        --bs-gutter-y: unset !important;

        .bungkus {
            width: 100% !important;

            .item {
                display: flex;
                flex-direction: column;

                .header {
                    display: flex;
                    justify-content: space-between !important;
                    align-items: center;
                    padding: .4rem .6rem;
                    border-bottom: 1px solid rgba(203, 201, 201, 0.605);

                    .status {
                        color: red;
                        font-size: .9rem;
                        font-weight: 500;
                        background-color: rgba(234, 13, 13, 0.3);
                        padding: .3rem 1rem;
                        border-radius: 1rem;
                    }

                    .processing {
                        color: rgb(255, 170, 0);
                        background-color: rgba(234, 157, 13, 0.3);
                    }

                    .layanan {
                        font-size: 1.05rem;
                        font-weight: 500;
                        color: rgba(0, 0, 0, 0.75);

                    }
                }

                .main-content {
                    padding: .4rem .6rem;
                    display: flex;
                    flex-direction: column;

                    .main-item {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        .kiri {
                            color: rgba(0, 0, 0, 0.6);
                            font-size: .8rem !important;

                        }

                        .kanan {
                            color: rgba(0, 0, 0, 0.85);
                            font-size: .9rem !important;

                        }
                    }

                    .harga {
                        .kanan {
                            font-weight: 500;
                        }
                    }

                    .done {
                        .kanan {
                            color: rgb(255, 166, 0);
                        }
                    }

                    .id {
                        .kanan {
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }
}

/* PROSES LAUNDRY */

/* SELESAI LAUNDRY */

.super-khusus-riwayat {
    /* margin-top: 1rem; */
    width: 95%;
    margin: 1rem auto;

    .riwayat {
        border-radius: .5rem;
        background-color: white;
        --bs-gutter-x: unset !important;
        --bs-gutter-y: unset !important;

        .bungkus {
            width: 100% !important;

            .item {
                display: flex;
                flex-direction: column;

                .header {
                    display: flex;
                    justify-content: space-between !important;
                    align-items: center;
                    padding: .4rem .6rem;
                    border-bottom: 1px solid rgba(203, 201, 201, 0.605);

                    .status {
                        color: rgb(24, 180, 13);
                        font-size: .9rem;
                        font-weight: 500;
                        background-color: rgba(13, 234, 50, 0.3);
                        padding: .3rem 1rem;
                        border-radius: 1rem;
                    }

                    .layanan {
                        font-size: 1.05rem;
                        font-weight: 500;
                        color: rgba(0, 0, 0, 0.75);

                    }
                }

                .main-content {
                    padding: .4rem .6rem;
                    display: flex;
                    flex-direction: column;

                    .main-item {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        .kiri {
                            color: rgba(0, 0, 0, 0.6);
                            font-size: .8rem !important;

                        }

                        .kanan {
                            color: rgba(0, 0, 0, 0.85);
                            font-size: .9rem !important;

                        }
                    }

                    .done {
                        .kanan {
                            color: rgb(255, 166, 0);
                        }
                    }

                    .harga {
                        .kanan {
                            font-weight: 500;
                        }
                    }

                    .id {
                        .kanan {
                            font-weight: 500;
                        }
                    }
                }


                .accordion {
                    .accordion-item {
                        border-radius: .5rem;

                        .accordion-collapse {
                            .accordion-body {
                                padding: .5rem !important;

                                .body-item {
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;

                                    .kiri {
                                        color: rgba(0, 0, 0, 0.6);
                                        font-size: .8rem !important;

                                    }

                                    .kanan {
                                        color: rgba(0, 0, 0, 0.85);
                                        font-size: .9rem !important;

                                    }
                                }

                                .special {
                                    padding: .5rem 0rem !important;
                                    display: flex;
                                    align-items: center;
                                    justify-content: unset !important;
                                    gap: 1rem;

                                    .img {
                                        img {
                                            height: 2rem;
                                            width: 2rem;
                                        }
                                    }

                                    .bank-name {
                                        font-weight: 500;
                                    }
                                }

                                .bukti {
                                    display: flex;
                                    flex-direction: column;
                                    width: 100%;

                                    .bukti-text {
                                        width: 100%;
                                        text-align: left !important;
                                    }

                                    .img-bukti {
                                        width: 100%;
                                        height: auto;

                                        img {
                                            border-radius: .3rem;
                                            width: 100%;
                                            height: auto;

                                        }
                                    }
                                }
                            }

                        }

                        .accordion-header {
                            background-color: transparent;

                            .accordion-button {
                                padding: 0.3rem .7rem !important;
                                box-shadow: unset !important;
                                border-radius: .5rem;
                                background-color: rgb(179, 179, 179);
                                color: white;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;

                                .up {
                                    transform: rotate(180deg);
                                }
                            }

                            .accordion-button::after {
                                display: none;
                            }

                            .accordion-button:not(.collapsed) {
                                /* background-color: unset !important; */
                                box-shadow: unset !important;
                            }

                        }
                    }
                }
            }
        }
    }
}

/* SELESAI LAUNDRY */

.pembungkus {
    height: 4rem;
    width: 5rem;
    background-color: transparent;
}

.emptyPage {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        height: 15rem;
        width: 15rem;
    }

    .the-teks {
        width: 100vw !important;
        margin-top: .2rem;
        font-size: .8rem;
        text-align: center;
        color: rgba(0, 0, 0, 0.5);

    }
}

.swal2-title {
    font-weight: 500;
    font-size: 1.5rem !important;
}

.swal2-html-container {
    font-size: .9rem !important;
}