*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.navbar {
    justify-content: unset !important;
    height: 3rem;
    border-bottom: .5px solid rgba(128, 128, 128, 0.4);
    background-color: rgb(242, 240, 240);
    padding: 0 1rem !important;

    .container-fluid {
        display: flex;
        justify-content: center !important;

        padding: 0;

        .back {
            position: absolute;
            left: .7rem;
            text-decoration: none;
            color: black;

            .left {
                font-size: 1.4rem;
                font-weight: bold !important;
            }
        }

    }

}