:root {
    --labelColor: rgba(0, 0, 0, 0.8);
    --lableSize: .9rem;
    --borderInput: 1px solid rgba(128, 128, 128, 0.5);
    --borderInputActive: 1px solid rgba(128, 128, 128, 0.7);
    --isianColor: rgba(0, 0, 0, 0.75);
    --placeholderColor: rgba(0, 0, 0, 0.4);
    --placeholderSize: .8rem;
    --bgInput: rgba(0, 0, 0, 0.1);
    --bgCerah: white;
    --textareaLabelsize: .75rem;
}

*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: rgba(189, 189, 189, 0.325) !important;
}

.navbar {
    justify-content: unset !important;
    height: 3rem;
    border-bottom: .5px solid rgba(128, 128, 128, 0.4);
    background-color: rgb(255, 255, 255);

    padding: 0 1rem !important;

    .container-fluid {
        display: flex;
        justify-content: start !important;
        padding-left: 1.5rem !important;

        padding: 0;

        .back {
            position: absolute;
            left: .7rem;
            text-decoration: none;
            color: black;

            .left {
                font-size: 1.4rem;
                font-weight: bold !important;
            }
        }

    }

}

.form {
    background-color: white !important;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 0 !important;
    border-radius: .7rem;

    .formulir.first {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        padding: .5rem;
        width: 100%;
        gap: 1rem;

        .form-item {
            display: flex;
            flex-direction: column;


            label {
                font-size: var(--lableSize);
                margin-bottom: 0.1rem !important;
                color: var(--labelColor);
            }

            input {
                border: var(--borderInput);
                background-color: var(--bgInput);
                color: var(--isianColor);

            }

            input:focus {
                box-shadow: none;
                outline: none;
                border: var(--borderInputActive);

            }

            input::placeholder {
                color: var(--placeholderColor);
            }

        }
    }


    .formulir.sec {
        display: flex;
        flex-direction: column;
        padding: .5rem;
        width: 100%;
        gap: 1rem;

        .form-item {
            display: flex;
            flex-direction: column;

            label {
                font-size: var(--lableSize);
                margin-bottom: 0.1rem !important;
                color: var(--labelColor);
            }

            .dropdown {
                width: 100%;
                display: flex;
                justify-content: space-between;
                width: 100%;

                input {
                    border-bottom-right-radius: 0;
                    border-top-right-radius: 0;
                    border-right: none;
                    background-color: var(--bgCerah);
                }

                button {
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                    background: linear-gradient(to top right, rgb(0, 85, 255), rgb(99, 192, 229));
                    color: white;
                    padding: 0 1rem;
                    border: none;
                }

                button:after {
                    display: none;
                }

                .dropdown-menu {
                    min-width: 100%;
                }

                .dropdown-menu.show {
                    height: fit-content;

                    display: flex;
                    flex-direction: column;
                    padding-top: 0 !important;
                    padding-bottom: 0 !important;
                    overflow: hidden;
                    overflow-y: auto;
                    transform: translate(0, 40px) !important;
                }

                .dropdown-menu li {
                    padding: .5rem 1rem !important;
                    transition: .3s ease;
                    cursor: pointer;

                    .item {
                        display: flex;
                        gap: 1rem;
                        align-items: center;

                        .icons {
                            img {
                                border-radius: .4rem;
                                height: 30px;
                                width: 30px;
                            }
                        }
                    }

                }

                .dropdown-menu li.first {
                    padding-top: .6rem !important;
                }

                .dropdown-menu li.last {
                    padding-bottom: .6rem !important;
                }

                .dropdown-menu li:hover {
                    background: linear-gradient(to top right, rgb(0, 85, 255), rgb(99, 192, 229));
                    color: white;
                }
            }

            input {
                border: var(--borderInput);
                background-color: var(--bgCerah);
                color: var(--isianColor);
            }

            input:focus {
                box-shadow: none;
                outline: none;
                border: var(--borderInputActive);

            }

            input::placeholder {
                color: var(--placeholderColor);
                font-size: var(--placeholderSize);
            }

        }

        .nyalaOi {
            background: linear-gradient(to right, rgb(0, 78, 142), skyblue);
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
        }
    }


    .selected {
        background: rgba(159, 159, 159, 0.708) !important;
    }

    .formulir.last {
        display: flex;
        flex-direction: column;
        padding: .5rem;
        width: 100%;
        gap: 1rem;

        .form-item {
            display: flex;
            flex-direction: column;

            label {
                font-size: var(--lableSize);
                color: var(--labelColor);
            }

            textarea {
                background-color: var(--bgCerah);
                border: var(--borderInput);
                color: var(--isianColor);
                /* height: 80vh; */
                resize: none;
            }

            textarea:focus {
                background-color: var(--bgInput);

                box-shadow: none !important;
            }

            textarea::placeholder {
                color: var(--placeholderColor);
                font-size: var(--placeholderSize);
            }
        }
    }

    .formulir.last::after {
        content: '';
        display: block;
        border-bottom: 0px solid white;
    }
}

.navbar.sticky-bottom {
    width: 100%;
    display: flex;
    align-items: center;
    height: fit-content;
    justify-content: center;
    margin: 0 !important;
    padding: .5rem !important;
    border-top: .5px solid rgba(128, 128, 128, 0.495);

    /* background-color: rgba(78, 77, 77, 0.325) !important; */

    .isi {
        width: 100%;
        /* background-color: black; */
        display: flex;
        align-items: center;
        justify-content: center;

        button {
            padding: .5rem 2rem;
            /* margin: 1rem 0; */
            outline: none !important;
            border: none !important;
            margin: auto !important;
            background-color: rgba(153, 153, 153, 0.3);
            font-size: .95rem;
        }
    }

}

.active {
    background: linear-gradient(to top right, rgb(0, 85, 255), rgb(99, 192, 229));
    color: white;
}