*,
html,
body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}


.container-fluid.main {
    padding-bottom: 0 !important;
}

.tableku {
    .table {
        thead {
            tr {
                th {
                    .th-item {
                        text-align: center;
                        font-weight: 600;
                    }

                }

                .nama {
                    width: 9rem !important;
                    /* background-color: aqua; */
                }

                .kamar-old {
                    width: 7rem !important;
                    /* background-color: red; */
                }

                .kamar-new {
                    width: 6rem !important;
                    /* background-color: rgb(19, 224, 77); */
                }

                .t-pindah {
                    width: 7rem !important;
                    /* background-color: red; */

                }


                .action {
                    width: 1rem !important;
                    /* background-color: aqua; */

                }

                th::before,
                ::after {
                    display: none !important;
                }
            }

        }

        tbody {
            tr {
                td {
                    height: fit-content;
                    padding: .7rem 1rem !important;

                    .td-item {
                        height: 3rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: center !important;
                        width: 100%;

                    }

                    .user {
                        justify-content: flex-start !important;

                        .item {
                            display: flex;
                            align-items: center;
                            gap: .45rem;

                            .imgs {
                                img {
                                    height: 2.5rem;
                                    width: 2.5rem;
                                    border-radius: 50%;
                                }
                            }

                            .username {
                                /* font-weight: 600; */
                                background: linear-gradient(to top right, rgb(0, 162, 255), rgb(114, 200, 234));
                                background-clip: text;
                                color: transparent;
                            }
                        }
                    }

                    .name {
                        text-align: left !important;
                        justify-content: left !important;
                    }

                    .td-item.aksi {
                        display: flex;
                        gap: .6rem;

                        .item {
                            cursor: pointer;
                            padding: .5rem 1.25rem;
                            /* height: 1.5rem; */
                            /* width: 1.5rem; */
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background: linear-gradient(to bottom right, rgb(29, 118, 242), rgb(62, 181, 227));
                            /* border-top-left-radius: .6rem;
                            border-bottom-right-radius: .6rem; */
                            border-radius: .5rem;
                            color: white;
                        }

                        /* .disabled {
                            background: rgba(32, 110, 236, 0.6);
                            color: white;
                        } */

                        .for-setuju {
                            .yes {
                                cursor: pointer;
                                padding: .4rem 1.25rem;
                                /* height: 1.5rem; */
                                /* width: 1.5rem; */
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                background: linear-gradient(to bottom right, rgb(53, 202, 8), rgb(78, 233, 69));
                                border-top-left-radius: .6rem !important;
                                border-bottom-right-radius: .6rem !important;
                                color: white;
                                border: none;
                            }

                            .yes:disabled {
                                background: rgb(172, 172, 172);
                            }
                        }

                        .for-tolak {
                            .no {
                                cursor: pointer;
                                padding: .4rem 1.25rem;
                                /* height: 1.5rem; */
                                /* width: 1.5rem; */
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                background: linear-gradient(to bottom right, rgb(255, 0, 0), rgba(252, 26, 26, 0.8));
                                border-top-left-radius: .6rem !important;
                                border-bottom-right-radius: .6rem !important;
                                color: white;
                                border: none;
                            }

                            .no:disabled {
                                background: rgb(172, 172, 172);
                            }
                        }

                    }
                }
            }
        }
    }
}

.riwayat {
    .table {
        thead {
            tr {
                th {
                    .th-item {
                        text-align: center;
                        font-weight: 600;
                    }

                }

                .nama {
                    width: 7rem !important;
                }

                .no-kamar {
                    width: 6rem;
                }

                .b-tag {
                    width: 5.5rem;
                }

                .t-bayar {
                    width: 6rem !important;
                }

                .action {
                    width: 4.5rem;
                }

                th::before,
                ::after {
                    display: none !important;
                }
            }

        }
    }

    tbody {
        tr {
            td {
                height: fit-content;
                padding: .7rem 1rem !important;

                .td-item {
                    height: 3rem;
                    justify-content: center;
                    display: flex;
                    align-items: center;
                    text-align: center !important;
                    width: 100%;

                }

                .stat {
                    .dipindahkan {
                        padding: .5rem .8rem;
                        background-color: rgba(0, 255, 0, 0.5);
                        color: rgb(0, 146, 0);
                        /* font-weight: bold; */
                        font-size: .95rem;
                        border-radius: .4rem;
                    }

                    .diterima {
                        padding: .5rem .8rem;
                        background-color: rgba(0, 132, 255, 0.5);
                        color: rgb(0, 58, 146);
                        /* font-weight: bold; */
                        font-size: .95rem;
                        border-radius: .4rem;
                    }

                    .ditolak {
                        padding: .5rem .8rem;
                        background-color: rgba(255, 1, 1, 0.5);
                        color: rgb(230, 0, 0);
                        /* font-weight: bold; */
                        font-size: .95rem;
                        border-radius: .4rem;
                    }
                }

                .user {
                    justify-content: flex-start !important;

                    .item {
                        display: flex;
                        align-items: center;
                        gap: .5rem;

                        .imgs {
                            img {
                                border: 1px solid rgba(128, 128, 128, 0.3);
                                height: 2.5rem;
                                width: 2.5rem;
                                border-radius: 50%;
                            }
                        }

                        .username {
                            /* font-weight: 600; */
                            background: linear-gradient(to top right, rgb(0, 162, 255), rgb(114, 200, 234));
                            background-clip: text;
                            color: transparent;
                        }
                    }
                }

                .name {
                    text-align: left !important;
                    justify-content: left !important;
                }

                .td-item.aksi {
                    display: flex;
                    gap: .6rem;

                    .item {
                        cursor: pointer;
                        padding: .5rem 1.25rem;
                        /* height: 1.5rem; */
                        /* width: 1.5rem; */
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: linear-gradient(to bottom right, rgb(29, 118, 242), rgb(62, 181, 227));
                        /* border-top-left-radius: .6rem;
                        border-bottom-right-radius: .6rem; */
                        border-radius: .5rem;
                        color: white;
                    }

                    .for-setuju {
                        .yes {
                            cursor: pointer;
                            padding: .4rem 1.25rem;
                            /* height: 1.5rem; */
                            /* width: 1.5rem; */
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background: linear-gradient(to bottom right, rgb(53, 202, 8), rgb(78, 233, 69));
                            border-top-left-radius: .6rem !important;
                            border-bottom-right-radius: .6rem !important;
                            color: white;
                            border: none;
                        }

                        .yes:disabled {
                            background: rgb(172, 172, 172);
                        }
                    }

                    .for-tolak {
                        .no {
                            cursor: pointer;
                            padding: .4rem 1.25rem;
                            /* height: 1.5rem; */
                            /* width: 1.5rem; */
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background: linear-gradient(to bottom right, rgb(255, 0, 0), rgba(252, 26, 26, 0.8));
                            border-top-left-radius: .6rem !important;
                            border-bottom-right-radius: .6rem !important;
                            color: white;
                            border: none;
                        }

                        .no:disabled {
                            background: rgb(172, 172, 172);
                        }
                    }

                }
            }
        }
    }
}

.lihat {
    .modal-dialog {
        .modal-content {
            width: 80%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            .modal-header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 1rem 1.5rem;

                .logo {
                    img {
                        height: 2rem;
                        width: auto;
                    }
                }

                .pay {
                    span {
                        font-weight: 600;
                    }
                }
            }

            .modal-body {
                .first-content {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    scrollbar-width: 0 !important;


                    .fc {
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        gap: .2rem;

                        .top {
                            font-size: 1rem;
                        }

                        .bot {
                            font-size: 1.1rem;
                            font-weight: 600;

                            span {
                                font-size: .9rem;
                                font-weight: 500;
                            }
                        }
                    }

                    .fl {
                        display: flex;
                        justify-content: center;
                        /* color: rgb(173, 173, 173); */

                        .the-content {
                            font-size: 1.15rem;

                            span {
                                font-size: 1.5rem;
                                background: linear-gradient(to top right, rgb(0, 162, 255), rgb(114, 200, 234));
                                background-clip: text;
                                color: transparent;
                                font-weight: 600;
                            }
                        }
                    }
                }

                .main-content {
                    padding: 1rem 0;

                    .kumpulan-data {
                        display: flex;
                        flex-direction: column;
                        gap: .5rem;

                        .data {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            .kiri {
                                font-size: .9rem;
                                color: rgba(0, 0, 0, 0.7);
                            }

                            .kanan {
                                font-size: 1rem;
                                color: rgba(0, 0, 0, 0.85);
                            }

                            .special {
                                font-weight: 600;
                            }

                            .transksi-special {
                                font-weight: 600;
                                font-size: .95rem;
                            }

                        }

                        .data-bukti {
                            display: flex;
                            flex-direction: column;
                            gap: .5rem;

                            .kiri {
                                font-size: 1rem;
                                font-weight: 500;
                            }

                            .kanan.bukti {
                                width: 100%;
                                cursor: pointer;
                                display: flex;
                                justify-content: center;

                                img {
                                    width: 50%;
                                    height: auto;
                                    border-radius: .3rem;
                                }
                            }
                        }

                    }
                }
            }

            .modal-footer {
                /* display: flex;
                justify-content: space-between;
                align-items: center; */


                .btn {
                    border: 1px gray solid;
                    color: gray;
                }


                /* .for-result {
                    display: flex;
                    gap: .5rem;

                    .save {
                        padding: .5rem 1.5rem;
                        background: linear-gradient(to bottom left, rgb(0, 179, 255), rgb(47, 230, 230));
                        border-radius: .5rem;
                        color: white;
                        cursor: pointer;
                    }

                    .no {
                        padding: .5rem 1.5rem;
                        background: linear-gradient(rgb(240, 27, 27), rgb(255, 109, 30));
                        border-radius: .5rem;
                        color: white;
                        cursor: pointer;
                    }

                    .btn:disabled {
                        background: rgb(172, 172, 172);
                    }
                } */
            }

        }
    }
}

.proof.show {
    display: flex !important;
    align-items: center;
    justify-content: center;

    .modal-dialog {
        display: flex;
        align-items: center;
        justify-content: center;

        .modal-content {
            width: 75%;

            .modal-body {
                padding: .3rem !important;
                border-radius: 1rem !important;

                img {
                    border-radius: .7rem;
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}

.penolakan {
    .modal-dialog {
        .modal-content {
            .modal-header {
                font-size: 1rem;
                border-bottom: 1px rgb(175, 175, 175);
                justify-content: unset !important;

                span {
                    font-weight: 600;
                }
            }

            .modal-body {
                padding: 0 1rem;

                label {
                    margin-bottom: .5rem;
                    padding-left: .2rem;

                }

                textarea {
                    resize: none;
                    width: 100%;
                    padding: .5rem .7rem;
                    border-radius: .5rem;
                }
            }

            .modal-footer {

                .close {
                    border: 1px solid gray;
                }

                .submits {
                    /* padding: .5rem .7rem; */
                    background: rgb(0, 183, 255);
                    color: white;
                }

                .submits:disabled {
                    background: rgb(166, 166, 166);
                    color: white;
                }
            }
        }
    }
}

/* Dropdown */


/* illustration */

.illustration {
    align-items: center;
    justify-content: center;
    padding: 0 2rem;

    .image {
        img {
            width: 13rem;
            height: 13rem;
        }
    }

    .text {
        margin: .5rem;
    }
}

.dataTables_info {
    display: none;
}

.dataTables_paginate {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: .6rem;

    .paginate_button:hover {
        background-color: rgb(0, 110, 255);
        color: white;
        transition: .3s ease;
        cursor: pointer;
    }

    .paginate_button.next {
        /* padding: .5rem !important; */
        height: 2.1rem;
        width: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .paginate_button.previous {
        /* padding: .5rem !important; */
        height: 2.1rem;
        width: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }



    .current {
        background-color: rgb(0, 110, 255) !important;
    }
}