*,
html,
body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}


.container-fluid.main {
    padding-bottom: 0 !important;
}

.tableku {
    .table.border {
        thead {
            tr {
                th {
                    .th-item {
                        text-align: center;
                        font-weight: 500;
                    }

                }

                .user {
                    width: 15rem !important;
                }

                .harga {
                    width: 8rem;
                }

                .img {
                    width: 5.5rem;
                }

                .layanan {
                    width: 4.5rem;
                }

                .status {
                    width: 8rem !important;
                }

                .action {
                    width: 7rem !important;
                }
            }

            th::before,
            ::after {
                display: none;
            }
        }

        tbody {
            tr {

                td {
                    height: fit-content;
                    /* padding: unset; */
                    padding: .7rem 1rem !important;

                    .td-item {
                        height: 2.5rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: center !important;
                        width: 100%;

                    }

                    .user {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        gap: 1rem;

                        .profil {
                            img {
                                height: 3rem;
                                width: 3rem;
                                border-radius: 50%;
                            }
                        }

                        .nama {
                            font-weight: 500;
                        }
                    }


                    .td-item.status {
                        .item.stat.aktif {
                            padding: .35rem 1rem;
                            border-radius: .3rem;
                            background-color: rgba(17, 255, 0, 0.3);
                            color: rgb(5, 140, 0);
                        }

                        .item.stat.proses {
                            padding: .35rem 1rem;
                            border-radius: .3rem;
                            background-color: rgba(255, 128, 0, 0.3);
                            color: rgb(255, 145, 0);
                        }

                        .item.stat.nonaktif {
                            background-color: rgba(255, 21, 0, 0.3);
                            color: rgb(255, 0, 0);
                            padding: .35rem 1rem;
                            border-radius: .3rem;
                        }
                    }


                    .td-item.action {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 0 1rem;

                        .toggle {
                            input {
                                height: 1.5rem;
                                width: 2.5rem;
                            }
                        }

                        .delete-form {
                            .btn.delete {
                                /* padding: .2rem; */
                                /* height: 1.5rem; */
                                width: 1.5rem;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                background-color: rgb(245, 51, 29);
                                border-radius: .4rem;
                                color: white;
                            }

                        }

                        .detail-btn {
                            padding: .5rem;
                            /* height: 1.5rem; */
                            /* width: 1.5rem; */
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: rgb(30, 149, 9);
                            border-radius: .4rem;
                            color: white;
                        }

                        .btn.edit-btn {
                            /* padding: .2rem; */
                            /* height: 1.5rem; */
                            width: 1.5rem;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: rgb(29, 119, 245);
                            border-radius: .4rem;
                            color: white;
                        }
                    }
                }
            }
        }
    }


}

.pengajuan {
    .table.border {
        thead {
            tr {
                th {
                    .th-item {
                        text-align: center;
                        font-weight: 500;
                    }

                }

                .user {
                    width: 40rem !important;
                }
            }

            th::before,
            ::after {
                display: none;
            }
        }
    }

    tbody {
        tr {

            td {
                height: fit-content;
                padding: .7rem 1rem !important;

                .td-item {
                    height: 2.5rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center !important;
                    width: 100%;

                }

                .user {

                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .for-first {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        gap: 1rem;
                        width: 12rem;

                        .profil {
                            img {
                                height: 3rem;
                                width: 3rem;
                                border-radius: 50%;
                            }
                        }

                        .nama {
                            font-weight: 500;
                        }
                    }

                    .for-sec {
                        /* background-color: aqua; */
                        width: 10rem;

                        .email {
                            text-align: left;
                        }
                    }
                }


                .td-item.action {
                    display: flex;
                    gap: .6rem;

                    .item {
                        cursor: pointer;
                        padding: .5rem 1.25rem;
                        /* height: 1.5rem; */
                        /* width: 1.5rem; */
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: linear-gradient(to bottom right, rgb(29, 118, 242), rgb(62, 181, 227));
                        /* border-top-left-radius: .6rem;
                        border-bottom-right-radius: .6rem; */
                        border-radius: .5rem;
                        color: white;
                    }

                    /* .disabled {
                        background: rgba(32, 110, 236, 0.6);
                        color: white;
                    } */

                    .for-setuju {
                        .yes {
                            cursor: pointer;
                            padding: .4rem 1.25rem;
                            /* height: 1.5rem; */
                            /* width: 1.5rem; */
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background: linear-gradient(to bottom right, rgb(53, 202, 8), rgb(78, 233, 69));
                            border-top-left-radius: .6rem !important;
                            border-bottom-right-radius: .6rem !important;
                            color: white;
                            border: none;
                        }

                        .yes:disabled {
                            background: rgb(172, 172, 172);
                        }
                    }

                    .for-tolak {
                        .no {
                            cursor: pointer;
                            padding: .4rem 1.25rem;
                            /* height: 1.5rem; */
                            /* width: 1.5rem; */
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background: linear-gradient(to bottom right, rgb(255, 0, 0), rgba(252, 26, 26, 0.8));
                            border-top-left-radius: .6rem !important;
                            border-bottom-right-radius: .6rem !important;
                            color: white;
                            border: none;
                        }

                        .no:disabled {
                            background: rgb(172, 172, 172);
                        }
                    }
                }
            }
        }
    }
}

.riwayat {
    .table.border {
        thead {
            tr {
                th {
                    .th-item {
                        text-align: center;
                        font-weight: 500;
                    }

                }

                .user {
                    width: 37rem !important;
                }
            }

            th::before,
            ::after {
                display: none;
            }
        }
    }

    tbody {
        tr {

            td {
                height: fit-content;
                padding: .7rem 1rem !important;

                .td-item {
                    height: 2.5rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center !important;
                    width: 100%;

                }

                .user {

                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .for-first {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        gap: 1rem;
                        width: 12rem;

                        .profil {
                            img {
                                height: 3rem;
                                width: 3rem;
                                border-radius: 50%;
                            }
                        }

                        .nama {
                            font-weight: 500;
                        }
                    }

                    .for-sec {
                        /* background-color: aqua; */
                        width: 10rem;

                        .email {
                            text-align: left;
                        }
                    }
                }

                .status {
                    .setuju {
                        padding: .5rem .8rem;
                        background-color: rgba(0, 255, 0, 0.5);
                        color: rgb(0, 146, 0);
                        /* font-weight: bold; */
                        font-size: .95rem;
                        border-radius: .4rem;
                    }

                    .tolak {
                        padding: .5rem .8rem;
                        background-color: rgba(255, 1, 1, 0.5);
                        color: rgb(230, 0, 0);
                        /* font-weight: bold; */
                        font-size: .95rem;
                        border-radius: .4rem;
                    }
                }


                .td-item.action {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    gap: .6rem;

                    .item {
                        cursor: pointer;
                        padding: .5rem 1.25rem;
                        /* height: 1.5rem; */
                        /* width: 1.5rem; */
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: rgb(27, 176, 206);
                        /* border-top-left-radius: .6rem;
                        border-bottom-right-radius: .6rem; */
                        border-radius: .5rem;
                        color: white;
                    }

                }
            }
        }
    }
}

.card-body {
    padding-top: .5rem !important;
    padding-bottom: .5rem !important;
}

.tambah {
    background: linear-gradient(to bottom right, rgb(29, 165, 223), rgb(119, 203, 255));
    border: none !important;
    font-size: 1.1rem;
    width: fit-content;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    gap: .5rem;
}

#add-item {
    .modal-dialog {
        .modal-content {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 70%;

            form {
                .modal-body {
                    display: flex;
                    flex-direction: column;
                    gap: .65rem;
                    height: 80rem;
                    overflow: auto;
                    max-height: 65vh;

                    .items {

                        .form-control {
                            width: 100%;
                        }

                        .dropdown {
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            width: 100%;

                            input {
                                border-bottom-right-radius: 0;
                                border-top-right-radius: 0;
                                border-right: none;
                                background-color: var(--bgCerah);
                            }

                            button {
                                border-top-left-radius: 0;
                                border-bottom-left-radius: 0;
                                background: linear-gradient(to top right, rgb(0, 85, 255), rgb(99, 192, 229));
                                color: white;
                                border: none;
                            }

                            button:after {
                                display: none;
                            }

                            .dropdown-menu {
                                min-width: 100%;
                            }

                            .dropdown-menu.show {
                                height: fit-content;
                                display: flex;
                                flex-direction: column;
                                padding-top: 0 !important;
                                padding-bottom: 0 !important;
                                overflow: hidden;
                                overflow-y: auto;
                                transform: translate(0, 40px) !important;
                            }

                            .dropdown-menu li {
                                padding: .5rem 1rem !important;
                                transition: .3s ease;
                                cursor: pointer;

                                .item {
                                    display: flex;
                                    gap: 1rem;
                                    align-items: center;

                                    .icons {
                                        img {
                                            height: 25px;
                                            width: 25px;
                                            border-radius: 5px;
                                        }
                                    }
                                }

                            }

                            .dropdown-menu li.first {
                                padding-top: .6rem !important;
                            }

                            .dropdown-menu li.last {
                                padding-bottom: .6rem !important;
                            }

                            .dropdown-menu li:hover {
                                background: linear-gradient(to top right, rgb(0, 85, 255), rgb(99, 192, 229));
                                color: white;
                            }
                        }
                    }
                }

                .modal-body.active {
                    height: 70vh !important;
                }

                .modal-footer {
                    .cancel {
                        color: rgb(99, 99, 99);
                        background-color: rgba(128, 128, 128, 0.25);
                        border: none !important;
                    }

                    .simpan {
                        background: linear-gradient(to bottom right, rgb(22, 162, 222), rgb(105, 189, 242));
                        color: white;
                    }

                    .simpan:disabled {
                        background: rgb(181, 181, 181);
                    }
                }
            }
        }
    }
}

.det {
    .modal-content {
        width: 65%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .modal-body {
            display: flex;
            flex-direction: column;
            gap: .7rem;

            .for-profil-img {
                display: flex;
                align-items: center;
                flex-direction: column;
                gap: .7rem;
                justify-content: center;

                .myImg {
                    img {
                        height: 10rem;
                        width: 10rem;
                        border-radius: 50%;
                    }
                }

                .name {
                    font-size: 1.2rem;
                    font-weight: 500 !important;

                }
            }

            .for-common {
                .status {
                    .lunas {
                        background-color: rgba(57, 255, 47, 0.5) !important;
                        color: rgb(0, 162, 0) !important;
                        font-weight: 600;
                        border: none;
                    }

                    .proses {
                        background-color: rgba(255, 203, 47, 0.5) !important;
                        color: rgba(233, 112, 0, 0.847) !important;
                        font-weight: 600;
                        border: none;
                    }

                    .not-lun {
                        background-color: rgba(255, 47, 47, 0.5) !important;
                        color: rgb(196, 16, 0) !important;
                        font-weight: 600;
                        border: none;
                    }
                }
            }
        }

        .modal-footer {
            .cancel {
                border: 1px solid rgb(190, 190, 190);
            }
        }
    }
}

.modal-edit {
    .modal-dialog {
        .modal-content {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 70%;

            form {
                .modal-body {
                    display: flex;
                    flex-direction: column;
                    gap: .65rem;
                    height: 80rem;
                    overflow: auto;
                    max-height: 65vh;

                    .items {

                        .form-control {
                            width: 100%;
                        }

                        .dropdown {
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            width: 100%;

                            input {
                                border-bottom-right-radius: 0;
                                border-top-right-radius: 0;
                                border-right: none;
                                background-color: var(--bgCerah);
                            }

                            button {
                                border-top-left-radius: 0;
                                border-bottom-left-radius: 0;
                                background: linear-gradient(to top right, rgb(0, 85, 255), rgb(99, 192, 229));
                                color: white;
                                border: none;
                            }

                            button:after {
                                display: none;
                            }

                            .dropdown-menu {
                                min-width: 100%;
                            }

                            .dropdown-menu.show {
                                height: fit-content;
                                display: flex;
                                flex-direction: column;
                                padding-top: 0 !important;
                                padding-bottom: 0 !important;
                                overflow: hidden;
                                overflow-y: auto;
                                transform: translate(0, 40px) !important;
                            }

                            .dropdown-menu li {
                                padding: .5rem 1rem !important;
                                transition: .3s ease;
                                cursor: pointer;

                                .item {
                                    display: flex;
                                    gap: 1rem;
                                    align-items: center;

                                    .icons {
                                        img {
                                            height: 25px;
                                            width: 25px;
                                            border-radius: 5px;
                                        }
                                    }
                                }

                            }

                            .dropdown-menu li.first {
                                padding-top: .6rem !important;
                            }

                            .dropdown-menu li.last {
                                padding-bottom: .6rem !important;
                            }

                            .dropdown-menu li:hover {
                                background: linear-gradient(to top right, rgb(0, 85, 255), rgb(99, 192, 229));
                                color: white;
                            }
                        }
                    }
                }

                .modal-body.active {
                    height: 70vh !important;
                }

                .modal-footer {
                    .cancel {
                        color: rgb(99, 99, 99);
                        background-color: rgba(128, 128, 128, 0.25);
                        border: none !important;
                    }

                    .simpan {
                        background: linear-gradient(to bottom right, rgb(22, 162, 222), rgb(105, 189, 242));
                        color: white;
                    }

                    .simpan:disabled {
                        background: rgb(181, 181, 181);
                    }
                }
            }
        }
    }
}

.pengajuan {
    .modal-dialog {
        .modal-content {
            .modal-body {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: .7rem;

                .item {
                    display: flex;
                    flex-direction: column;
                    gap: .3rem;
                    align-items: center;

                    .myImg {
                        img {
                            height: 5rem;
                            width: 5rem;
                            border-radius: 50%;
                        }
                    }

                    .name {
                        font-size: 1.1rem;
                    }
                }

                .row {
                    /* gap: .5rem; */
                    width: 100%;
                }
            }

            .modal-footer {
                .cancel {
                    color: rgb(99, 99, 99);
                    background-color: rgba(128, 128, 128, 0.25);
                    border: none !important;
                }
            }
        }
    }
}

.penolakan {
    .modal-dialog {
        .modal-content {
            .modal-header {
                font-size: 1rem;
                border-bottom: 1px rgb(175, 175, 175);
                justify-content: unset !important;

                span {
                    font-weight: 600;
                }
            }

            .modal-body {
                align-items: unset;
                gap: unset;
                padding: 0 1rem;

                label {
                    margin-bottom: .5rem;
                    padding-left: .2rem;

                }

                textarea {
                    resize: none;
                    width: 100%;
                    padding: .5rem .7rem;
                    border-radius: .5rem;
                }
            }

            .modal-footer {

                .close {
                    border: 1px solid gray;
                }

                .submits {
                    /* padding: .5rem .7rem; */
                    background: rgb(0, 183, 255);
                    color: white;
                }

                .submits:disabled {
                    background: rgb(166, 166, 166);
                    color: white;
                }
            }
        }
    }
}

.riwayats {
    .modal-dialog {
        .modal-content {
            .modal-body {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: .7rem;

                .for-stat {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .success {
                        font-size: 1.2rem;
                        font-weight: bold;
                        color: rgb(0, 219, 0);
                    }

                    .fail {
                        font-size: 1.2rem;
                        font-weight: bold;
                        color: red;
                    }

                    .time {
                        font-size: .95rem;
                        color: rgba(0, 0, 0, 0.7);

                        span {
                            color: rgba(0, 0, 0, 0.55);

                        }
                    }
                }

                .item {
                    display: flex;
                    flex-direction: column;
                    gap: .3rem;
                    align-items: center;

                    .myImg {
                        img {
                            height: 5rem;
                            width: 5rem;
                            border-radius: 50%;
                        }
                    }

                    .name {
                        font-size: 1.1rem;
                    }
                }

                .row {
                    /* gap: .5rem; */
                    width: 100%;
                }
            }

            .modal-footer {
                .cancel {
                    color: rgb(99, 99, 99);
                    background-color: rgba(128, 128, 128, 0.25);
                    border: none !important;
                }
            }
        }
    }
}


/* Dropdown */


/* illustration */

.illustration {
    align-items: center;
    justify-content: center;
    padding: 0 2rem;

    .image {
        img {
            width: 13rem;
            height: 13rem;
        }
    }

    .text {
        margin: .5rem;
    }
}

.dataTables_info {
    display: none;
}

.dataTables_paginate {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: .6rem;

    .paginate_button:hover {
        background-color: rgb(0, 110, 255);
        color: white;
        transition: .3s ease;
        cursor: pointer;
    }

    .paginate_button.next {
        /* padding: .5rem !important; */
        height: 2.1rem;
        width: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .paginate_button.previous {
        /* padding: .5rem !important; */
        height: 2.1rem;
        width: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }



    .current {
        background-color: rgb(0, 110, 255) !important;
    }
}