*,
html,
body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}


.container-fluid.main {
    padding-bottom: 0 !important;
}


.mytable {
    border: 2px solid rgba(168, 168, 168, 0.1);

    .table-head {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 600;
        color: rgb(0, 115, 255);

        .head-item {
            border-bottom: 2px solid rgba(168, 168, 168, 0.1);
            height: 2.5rem;
            width: 12rem;
            padding: .5rem 1rem;
            display: flex;
            align-items: center;
            justify-content: center !important;
        }
    }

    .table-body {
        width: 100%;

        .body-item {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .item {
                border-top: none !important;
                height: 3.2rem;
                font-size: .95rem !important;
                width: 12rem;
                padding: .5rem 1rem;
                display: flex;
                align-items: center;
                justify-content: center !important;

                .imgs {
                    height: 2rem !important;
                    width: 2rem !important;
                }
            }


            .name {
                text-align: left !important;
                justify-content: unset !important;
                padding-left: 1.3rem !important;
            }

            .unpublish {
                font-weight: 400;
                color: rgb(227, 15, 15);
                font-size: 1rem;

                .pengisi {
                    padding: .3rem .7rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: rgba(255, 0, 0, 0.246);
                    border-radius: .35rem;
                }
            }

            .published {
                font-weight: 400;
                color: rgb(13, 107, 184);
                font-size: 1rem;

                .pengisi {
                    padding: .3rem .7rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: rgba(10, 140, 191, 0.246);
                    border-radius: .35rem;
                }
            }

            .stat.un {
                color: red !important;
            }

            .last {
                display: flex;
                justify-content: center;
                gap: .7rem;
                align-items: center;

                .edit-btn {
                    background: rgb(11, 183, 231);
                    padding: .5rem .6rem;
                    color: white;
                }

                .btn.delete {
                    background: rgb(235, 37, 37);
                    padding: .5rem .6rem;
                    color: white;
                }

                .toggle {
                    form {
                        .form-check {
                            .form-check-input {
                                height: 1.5rem;
                                width: 2.5rem;
                            }
                        }
                    }

                }
            }

        }
    }
}


.card-body {
    padding-top: .5rem !important;
    padding-bottom: .5rem !important;
}

.tambah {
    background: linear-gradient(to bottom right, rgb(29, 165, 223), rgb(119, 203, 255));
    border: none !important;
    font-size: 1.1rem;
    width: fit-content;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    gap: .5rem;
}

#add-item {
    .modal-dialog {
        .modal-content {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 80%;

            form {
                .modal-body {
                    display: flex;
                    flex-direction: column;
                    gap: .65rem;
                    height: fit-content;

                    .items {
                        .form-control {
                            width: 100%;
                        }

                        .dropdown {
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            width: 100%;

                            input {
                                border-bottom-right-radius: 0;
                                border-top-right-radius: 0;
                                border-right: none;
                                background-color: var(--bgCerah);
                            }

                            button {
                                border-top-left-radius: 0;
                                border-bottom-left-radius: 0;
                                background: linear-gradient(to top right, rgb(0, 85, 255), rgb(99, 192, 229));
                                color: white;
                                border: none;
                            }

                            button:after {
                                display: none;
                            }

                            .dropdown-menu {
                                min-width: 100%;
                            }

                            .dropdown-menu.show {
                                height: fit-content;
                                display: flex;
                                flex-direction: column;
                                padding-top: 0 !important;
                                padding-bottom: 0 !important;
                                overflow: hidden;
                                overflow-y: auto;
                                transform: translate(0, 40px) !important;
                            }

                            .dropdown-menu li {
                                padding: .5rem 1rem !important;
                                transition: .3s ease;
                                cursor: pointer;

                                .item {
                                    display: flex;
                                    gap: 1rem;
                                    align-items: center;

                                    .icons {
                                        img {
                                            height: 25px;
                                            width: 25px;
                                        }
                                    }
                                }

                            }

                            .dropdown-menu li.first {
                                padding-top: .6rem !important;
                            }

                            .dropdown-menu li.last {
                                padding-bottom: .6rem !important;
                            }

                            .dropdown-menu li:hover {
                                background: linear-gradient(to top right, rgb(0, 85, 255), rgb(99, 192, 229));
                                color: white;
                            }
                        }
                    }
                }

                .modal-body.active {
                    height: 70vh !important;
                }

                .modal-footer {
                    .cancel {
                        color: white;
                        background: linear-gradient(to top right, rgb(165, 165, 167), rgb(218, 218, 222));
                        border: none !important;
                    }

                    .simpan {
                        background: linear-gradient(to bottom right, rgb(22, 162, 222), rgb(105, 189, 242));
                        color: white;
                    }
                }
            }
        }
    }
}


.edit-data {
    .modal-dialog {
        .modal-content {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 80%;

            form {
                .modal-body {
                    display: flex;
                    flex-direction: column;
                    gap: .65rem;
                    height: fit-content;

                    .items {
                        .form-control {
                            width: 100%;
                        }

                        .dropdown {
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            width: 100%;

                            input {
                                border-bottom-right-radius: 0;
                                border-top-right-radius: 0;
                                border-right: none;
                                background-color: var(--bgCerah);
                            }

                            button {
                                border-top-left-radius: 0;
                                border-bottom-left-radius: 0;
                                background: linear-gradient(to top right, rgb(0, 85, 255), rgb(99, 192, 229));
                                color: white;
                                border: none;
                            }

                            button:after {
                                display: none;
                            }

                            .dropdown-menu {
                                min-width: 100%;
                            }

                            .dropdown-menu.show {
                                height: fit-content;
                                display: flex;
                                flex-direction: column;
                                padding-top: 0 !important;
                                padding-bottom: 0 !important;
                                overflow: hidden;
                                overflow-y: auto;
                                transform: translate(0, 40px) !important;
                            }

                            .dropdown-menu li {
                                padding: .5rem 1rem !important;
                                transition: .3s ease;
                                cursor: pointer;

                                .item {
                                    display: flex;
                                    gap: 1rem;
                                    align-items: center;

                                    .icons {
                                        img {
                                            height: 25px;
                                            width: 25px;
                                        }
                                    }
                                }

                            }

                            .dropdown-menu li.first {
                                padding-top: .6rem !important;
                            }

                            .dropdown-menu li.last {
                                padding-bottom: .6rem !important;
                            }

                            .dropdown-menu li:hover {
                                background: linear-gradient(to top right, rgb(0, 85, 255), rgb(99, 192, 229));
                                color: white;
                            }
                        }
                    }
                }

                .modal-body.active {
                    height: 70vh !important;
                }

                .modal-footer {
                    .cancel {
                        color: white;
                        background: linear-gradient(to top right, rgb(165, 165, 167), rgb(218, 218, 222));
                        border: none !important;
                    }

                    .simpan {
                        background: linear-gradient(to bottom right, rgb(22, 162, 222), rgb(105, 189, 242));
                        color: white;
                    }
                }
            }
        }
    }
}

/* Dropdown */



/* illustration */

.illustration {
    align-items: center;
    justify-content: center;
    padding: 0 2rem;

    .image {
        img {
            width: 13rem;
            height: 13rem;
        }
    }

    .text {
        margin: .5rem;
    }
}