.container-fluid {

    .row {
        display: flex;
        justify-content: center;
        align-items: center;

        .col-12 {
            form {
                .modal-body {
                    display: flex;
                    flex-wrap: wrap;
                    gap: .5rem;
                    height: fit-content;

                    img {
                        width: 3rem;
                        height: 3rem;
                    }

                    .target {
                        width: 48%;
                    }

                    .dropdown {
                        width: 48%;
                    }
                }

                .modal-body.active {
                    height: 70vh !important;
                }

                .modal-footer {
                    .cancel {
                        color: white;
                        background: linear-gradient(to top right, rgb(165, 165, 167), rgb(218, 218, 222));
                        border: none !important;
                    }

                    .simpan {
                        background: linear-gradient(to bottom right, rgb(22, 162, 222), rgb(105, 189, 242));
                        color: white;
                    }
                }
            }
        }
    }
}

.dropdown {
    width: 100%;
    display: flex;
    justify-content: space-between;
    width: 100%;

    input {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        border-right: none;
        background-color: var(--bgCerah);
    }

    button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        background: linear-gradient(to top right, rgb(0, 85, 255), rgb(99, 192, 229));
        color: white;
        border: none;
    }

    button:after {
        display: none;
    }

    .dropdown-menu {
        min-width: 100%;
    }

    .dropdown-menu.show {
        height: fit-content;
        display: flex;
        flex-direction: column;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        overflow: hidden;
        overflow-y: auto;
        transform: translate(0, 40px) !important;
    }

    .dropdown-menu li {
        padding: .5rem 1rem;
        transition: .3s ease;
        cursor: pointer;

        .item {
            display: flex;
            gap: 1rem;
            align-items: center;

            .icons {
                img {
                    height: 25px;
                    width: 25px;
                }
            }
        }

    }

    .dropdown-menu li.first {
        padding-top: .6rem !important;
    }

    .dropdown-menu li.last {
        padding-bottom: .6rem !important;
    }

    .dropdown-menu li:hover {
        background: linear-gradient(to top right, rgb(0, 85, 255), rgb(99, 192, 229));
        color: white;
    }
}